{% extends 'base.html' %}

{% block modal_content %}
    <!--导入表格-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'upload_monthly_performance' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">导入月度营业数据</h4>
                    </div>
                    <div class="modal-body">
                        支持excel和csv文件
                        <div class="form-group">
                            <input class="form-control" type="file" name="upload_file">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">导入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--删除按钮(选中)-->
    <div class="modal fade" id="dels" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delsModalLabel">删除选中月度营业数据</h4>
                </div>
                <div class="modal-body">
                    确认删除选中月度营业数据?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="dels()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--删除按钮(单条)-->
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'delete_monthly_sales_data' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">删除月度营业数据</h4>
                    </div>
                    <div class="modal-body">
                        确认删除该条月度营业数据?
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_delete_id" name="delete_id">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--新增按钮-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'add_monthly_sales_data' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addLabel">新增月度营业数据</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="year_n" class="control-label">年份：</label>
                            <input type="text" class="form-control" id="year_n" name="year" required>
                        </div>
                        <div class="form-group">
                            <label for="month_n" class="control-label">月份：</label>
                            <select class="form-control" id="month_n" name="month" required>
                                <option value="1">1月</option>
                                <option value="2">2月</option>
                                <option value="3">3月</option>
                                <option value="4">4月</option>
                                <option value="5">5月</option>
                                <option value="6">6月</option>
                                <option value="7">7月</option>
                                <option value="8">8月</option>
                                <option value="9">9月</option>
                                <option value="10">10月</option>
                                <option value="11">11月</option>
                                <option value="12">12月</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="turnover_n" class="control-label">营业额(万元)：</label>
                            <input type="text" class="form-control" id="turnover_n" name="turnover" required>
                        </div>
                        <div class="form-group">
                            <label for="expenses_n" class="control-label">营业费用(万元)：</label>
                            <input type="text" class="form-control" id="expenses_n" name="operating_expenses" required>
                        </div>
                        <div class="form-group">
                            <label for="return_n" class="control-label">回款额(万元)：</label>
                            <input type="text" class="form-control" id="return_n" name="amount_repaid" required>
                        </div>
                        <div class="form-group">
                            <label for="stock_n" class="control-label">库存量：</label>
                            <input type="text" class="form-control" id="stock_n" name="inventory" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--修改按钮-->
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'change_monthly_sales_data' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modifyLabel">修改月度营业数据</h4>
                    </div>
                    <div class="modal-body">
                        <input hidden id="id_change_id" name="change_id">
                        <div class="form-group">
                            <label for="year_m" class="control-label">年份：</label>
                            <input type="text" class="form-control" id="id_change_year" name="change_year" required>
                        </div>
                        <div class="form-group">
                            <label for="month_m" class="control-label">月份：</label>
                            <select class="form-control" id="id_change_month" name="change_month" required>
                                <option value="1">1月</option>
                                <option value="2">2月</option>
                                <option value="3">3月</option>
                                <option value="4">4月</option>
                                <option value="5">5月</option>
                                <option value="6">6月</option>
                                <option value="7">7月</option>
                                <option value="8">8月</option>
                                <option value="9">9月</option>
                                <option value="10">10月</option>
                                <option value="11">11月</option>
                                <option value="12">12月</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="turnover_m" class="control-label">营业额(万元)：</label>
                            <input type="text" class="form-control" id="id_change_turnover" name="change_turnover">
                        </div>
                        <div class="form-group">
                            <label for="expenses_m" class="control-label">营业费用(万元)：</label>
                            <input type="text" class="form-control" id="id_change_operating_expenses"
                                   name="change_operating_expenses" required>
                        </div>
                        <div class="form-group">
                            <label for="return_m" class="control-label">回款额(万元)：</label>
                            <input type="text" class="form-control" id="id_change_amount_repaid"
                                   name="change_amount_repaid" required>
                        </div>
                        <div class="form-group">
                            <label for="stock_m" class="control-label">库存量：</label>
                            <input type="text" class="form-control" id="id_change_inventory" name="change_inventory"
                                   required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-warning">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block manage_data_active %}active open{% endblock %}
{% block show_monthly_sales_data_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>月度营业数据管理</b></h4>
                       <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        年份 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                          <li><a href="#!">2015</a></li>
                        <li><a href="#!">2016</a></li>
                        <li><a href="#!">2018</a></li>
                        <li><a href="#!">2019</a></li>
                        <li><a href="#!">2020</a></li>
                        <li><a href="#!">2021</a></li>
                      </ul>
                    </div>
                        <div class="example-box">
                            <button type="button" class="btn btn-danger m-r-5 pull-right" data-toggle="modal"
                                    data-target="#dels"><i class="mdi mdi-window-close"></i> 删除
                            </button>
                            <button type="button" class="btn btn-success m-r-5 pull-right" data-toggle="modal"
                                    data-target="#export"><i class="mdi mdi-file-excel"></i> 导入表格
                            </button>
                            <button type="button" class="btn btn-success m-r-5 pull-right" data-toggle="modal"
                                    data-target="#add" data-whatever="@mdo"><i class="mdi mdi-plus"></i> 新增
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <label class="lyear-checkbox checkbox-primary">
                                            <input type="checkbox" id="check-all"><span></span>
                                        </label>
                                    </th>
                                    <th>年份</th>
                                    <th>月份</th>
                                    <th>营业额(万元)</th>
                                    <th>营业费用(万元)</th>
                                    <th>回款额(万元)</th>
                                    <th>库存量</th>
                                    <th>利润额(万元)</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in monthly_sales_data %}
                                    <tr>
                                        <td>
                                            <label class="lyear-checkbox checkbox-primary">
                                                <input type="checkbox" name="ids[]"
                                                       value="{{ data.id }}"><span></span>
                                            </label>
                                        </td>
                                        <th scope="row">{{ data.year }}</th>
                                        <th scope="row">{{ data.month }}</th>
                                        <td>{{ data.turnover }}</td>
                                        <td>{{ data.operating_expenses }}</td>
                                        <td>{{ data.amount_repaid }}</td>
                                        <td>{{ data.inventory }}</td>
                                        <td>{{ data.profit }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-default" href="#!" title="编辑"
                                                   data-toggle="modal" data-target="#modify"
                                                   onclick="give_change_modal('{{ data.id }}', '{{ data.year }}',
                                                           '{{ data.turnover }}', '{{ data.operating_expenses }}', '{{ data.amount_repaid }}', '{{ data.inventory }}', '{{ data.profit }}')"><i
                                                        class="mdi mdi-pencil"></i></a>
                                                <a class="btn btn-xs btn-default" href="#!" title="删除"
                                                   data-toggle="modal" data-target="#del"
                                                   onclick="give_delete_modal('{{ data.id }}')"><i
                                                        class="mdi mdi-window-close"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <nav>
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="#!">
                                            <span><i class="mdi mdi-chevron-left"></i></span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#!">2</a></li>
                                    <li><a href="#!">3</a></li>
                                    <li><a href="#!">4</a></li>
                                    <li><a href="#!">5</a></li>
                                    <li><a href="#!">...</a></li>
                                    <li><a href="#!">1000</a></li>
                                    <li>
                                        <a href="#!">
                                            <span><i class="mdi mdi-chevron-right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!-- 给确认删除模态框传值 -->
    <script type="text/javascript">
        function give_delete_modal(delete_id) {
            $('#id_delete_id').val(delete_id);
        }
    </script>
    <!-- 给修改数据模态框传值 -->
    <script type="text/javascript">
        function give_change_modal(change_id,
                                   change_year,
                                   change_turnover,
                                   change_operating_expenses,
                                   change_amount_repaid,
                                   change_inventory,
                                   change_profit) {
            $('#id_change_id').val(change_id);
            $('#id_change_year').val(change_year);
            $('#id_change_turnover').val(change_turnover);
            $('#id_change_operating_expenses').val(change_operating_expenses);
            $('#id_change_amount_repaid').val(change_amount_repaid);
            $('#id_change_inventory').val(change_inventory);
            $('#id_change_profit').val(change_profit);
        }
    </script>
    <!-- 提交选中删除 -->
    <script type="text/javascript">
        function dels() {
            var a = document.getElementsByName("ids[]");
            var case_id = [];
            for (var i = 0; i < a.length; i++) {
                if (a[i].checked) {
                    case_id.push(a[i].value)
                }
            }
            console.log(case_id);
            $.ajax({
                type: "get",
                url: "{% url 'delete_monthly_sales_data' %}",
                traditional: true,
                data: {'delete_id': case_id},
                success: function (arg) {
                    if (arg === 'success') {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}