{% extends 'base.html' %}
{% load static %}
{% load queryset_data %}
{% block title %}业务数据管理-内控指标汇总{% endblock %}

{% block modal_content %}
    <!--导入表格-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'upload_internal_control_indicators_performance' %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">导入内控指标</h4>
                    </div>
                    <div class="modal-body">
                        支持excel和csv文件
                        <div class="form-group">
                            <input class="form-control" type="file" name="upload_file">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">导入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--删除按钮(选中)-->
    <div class="modal fade" id="dels" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delsModalLabel">删除选中内控指标数据</h4>
                </div>
                <div class="modal-body">
                    确认删除选中内控指标数据?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="dels()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--删除按钮(单条)-->
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'delete_internal_control_indicators' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">删除内控指标数据</h4>
                    </div>
                    <div class="modal-body">
                        确认删除该条内控指标数据?
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_delete_id" name="delete_id">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--新增按钮-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'add_internal_control_indicators' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addLabel">新增内控指标数据</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_order_date" class="control-label">订单时间：</label>
                            <input class="form-control js-datepicker m-b-10" type="text" id="id_order_date"
                                   name="order_date" data-date-format="yyyy-mm-dd" placeholder="年/月/日" required>
                        </div>
                        <div class="form-group">
                            <label for="id_order_number" class="control-label">订单号：</label>
                            <input type="text" class="form-control" id="id_order_number" name="order_number" required>
                        </div>
                        <div class="form-group">
                            <label for="id_order_money" class="control-label">订单额：</label>
                            <input type="text" class="form-control" id="id_order_money" name="order_money" required>
                        </div>
                        <div class="form-group">
                            <label for="id_scheduled_delivery" class="control-label">计划交期：</label>
                            <input class="form-control js-datepicker m-b-10" type="text" id="id_scheduled_delivery"
                                   name="scheduled_delivery" data-date-format="yyyy-mm-dd" placeholder="年/月/日" required>
                        </div>
                        <div class="form-group">
                            <label for="id_target_well_done_rate" class="control-label">目标成品率：</label>
                            <input type="number" class="form-control" id="id_target_well_done_rate"
                                   name="target_well_done_rate" value="1" readonly required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--修改按钮-->
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'change_internal_control_indicators' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modifyLabel">修改内控指标数据</h4>
                    </div>
                    <div class="modal-body">
                        <!--手风琴效果-->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-primary">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse"
                                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            订单完成信息
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="id_change_actual_delivery" class="control-label">实际交期：</label>
                                            <input class="form-control js-datepicker m-b-10" type="text"
                                                   id="id_change_actual_delivery" name="actual_delivery"
                                                   data-date-format="yyyy-mm-dd" placeholder="年/月/日" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_change_actual_well_done_rate"
                                                   class="control-label">实际成品率：</label>
                                            <select class="form-control" id="id_change_actual_well_done_rate"
                                                    name="actual_well_done_rate" required>
                                                <option value="0">0%</option>
                                                <option value="1">100%</option>
                                            </select>
                                        </div>
                                        <div class="form-group_n">
                                            <label for="id_change_actual_medical_expenses"
                                                   class="control-label">实际医药费(万元)：</label>
                                            <input type="number" class="form-control"
                                                   id="id_change_actual_medical_expenses"
                                                   name="actual_medical_expenses" required>
                                        </div>
                                        <div class="form-group_n">
                                            <label for="id_change_actual_cost" class="control-label">实际成本(万元)：</label>
                                            <input type="number" class="form-control" id="id_change_actual_cost"
                                                   name="actual_cost" required>
                                        </div>
                                        <div class="form-group_n">
                                            <label for="id_change_actual_management_compliance" class="control-label">实际管理符合数：</label>
                                            <input type="number" class="form-control"
                                                   id="id_change_actual_management_compliance"
                                                   name="actual_management_compliance" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-cyan">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           href="#collapseTwo" aria-expanded="false"
                                           aria-controls="collapseTwo">
                                            订单创建信息
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="id_change_order_date" class="control-label">订单时间：</label>
                                            <input class="form-control js-datepicker m-b-10" type="text"
                                                   id="id_change_order_date" name="order_date"
                                                   data-date-format="yyyy-mm-dd"
                                                   placeholder="年/月/日" required>

                                        </div>
                                        <div class="form-group">
                                            <label for="id_change_order_number" class="control-label">订单号：</label>
                                            <input type="text" class="form-control" id="id_change_order_number"
                                                   name="order_number" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_change_order_money" class="control-label">订单额：</label>
                                            <input type="text" class="form-control" id="id_change_order_money"
                                                   name="order_money" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_change_scheduled_delivery"
                                                   class="control-label">计划交期：</label>
                                            <input class="form-control js-datepicker m-b-10" type="text"
                                                   id="id_change_scheduled_delivery" name="scheduled_delivery"
                                                   data-date-format="yyyy-mm-dd" placeholder="年/月/日" required>

                                        </div>
                                        <div class="form-group">
                                            <label for="id_change_target_well_done_rate"
                                                   class="control-label">目标成品率：</label>
                                            <input type="number" class="form-control"
                                                   id="id_change_target_well_done_rate"
                                                   name="target_well_done_rate" value="1" readonly required>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_change_target_medical_expenses"
                                                   class="control-label">目标医药费(万元)：</label>
                                            <input type="number" class="form-control"
                                                   id="id_change_target_medical_expenses"
                                                   name="target_medical_expenses" disabled required>
                                        </div>
                                        <div class="form-group">
                                            <label for="id_change_target_comprehensive_cost" class="control-label">目标综合成本(万元)：</label>
                                            <input type="number" class="form-control"
                                                   id="id_change_target_comprehensive_cost"
                                                   name="target_comprehensive_cost"
                                                   disabled required>
                                        </div>
                                        <div class="form-group_n">
                                            <label for="id_change_target_management_compliance" class="control-label">目标管理符合数：</label>
                                            <input type="number" class="form-control"
                                                   id="id_change_target_management_compliance"
                                                   name="target_management_compliance" disabled required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--手风琴效果 End-->
                    </div>


                    <div class="modal-footer">
                        <input hidden id="id_change_id" name="change_id">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block manage_data_active %}active open{% endblock %}
{% block show_internal_control_indicators_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>内控指标汇总</b></h4>

                    </div>
                    <div class="card-toolbar clearfix">
                        <form class="pull-right search-bar" method="post" action="{% url 'show_internal_control_indicators' %}" role="form">
                        {% csrf_token %}
                            <div class="input-group-btn">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            {{ current_status }} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="{% ifequal current_status '所有状态' %}active{% endifequal %}">
                                                <a href="{% url 'show_internal_control_indicators' %}?current_status=所有状态">所有状态</a>
                                            </li>
                                            <li class="{% ifequal current_status '按时完成' %}active{% endifequal %}">
                                                <a href="{% url 'show_internal_control_indicators' %}?current_status=按时完成">按时完成</a>
                                            </li>
                                            <li class="{% ifequal current_status '尚未完成' %}active{% endifequal %}">
                                                <a href="{% url 'show_internal_control_indicators' %}?current_status=尚未完成">尚未完成</a>
                                            </li>
                                            <li class="{% ifequal current_status '逾期完成' %}active{% endifequal %}">
                                                <a href="{% url 'show_internal_control_indicators' %}?current_status=逾期完成">逾期完成</a>
                                            </li>
                                            <li class="{% ifequal current_status '快到交期' %}active{% endifequal %}">
                                                <a href="{% url 'show_internal_control_indicators' %}?current_status=快到交期">快到交期</a>
                                            </li>
                                            <li class="{% ifequal current_status '已经逾期' %}active{% endifequal %}">
                                                <a href="{% url 'show_internal_control_indicators' %}?current_status=已经逾期">已经逾期</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <input hidden name="action" value="订单号搜索">
                                    <input type="text" class="form-control" name="order_number" aria-label="..." placeholder="请输入订单号...">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default">搜索</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-success m-r-5" data-toggle="modal"
                                    data-target="#add" data-whatever="@mdo"><i class="mdi mdi-plus"></i> 新增
                            </button>
                            <button type="button" class="btn btn-success m-r-5" data-toggle="modal"
                                    data-target="#export"><i class="mdi mdi-file-excel"></i> 导入表格
                            </button>
                            <button type="button" class="btn btn-danger m-r-5" data-toggle="modal"
                                    data-target="#dels"><i class="mdi mdi-window-close"></i> 删除
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--手风琴效果-->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                           aria-controls="collapseThree">
                                            订单日期筛选
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <form method="post" action="{% url 'show_internal_control_indicators' %}" role="form">
                                            {% csrf_token %}
                                            <input hidden name="action" value="订单时间筛选">
                                            <div class="input-daterange input-group">
                                                <input class="form-control js-datepicker" data-date-format="yyyy-mm-dd"
                                                       type="text" id="example-daterange1" name="start_date"
                                                       placeholder="订单时间起点" required>
                                                <span class="input-group-addon"><i
                                                        class="mdi mdi-chevron-right"></i></span>
                                                <input class="form-control js-datepicker" data-date-format="yyyy-mm-dd"
                                                       type="text" id="example-daterange2" name="end_date"
                                                       placeholder="订单时间终点" required>
                                                <span class="input-group-btn" id="basic-addon3">
                                                <button class="btn btn-default" type="submit">筛选订单</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--手风琴效果 End-->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <label class="lyear-checkbox checkbox-primary">
                                            <input type="checkbox" id="check-all"><span></span>
                                        </label>
                                    </th>
                                    <th nowrap="nowrap" class="text-center">状态</th>
                                    <th nowrap="nowrap" class="text-center">时间进度</th>
                                    <th nowrap="nowrap" class="text-center">订单时间</th>
                                    <th nowrap="nowrap" class="text-center">订单号</th>
                                    <th nowrap="nowrap" class="text-center">订单额</th>
                                    <th nowrap="nowrap" class="text-center">计划交期</th>
                                    <th nowrap="nowrap" class="text-center">目标成品率</th>
                                    <th nowrap="nowrap" class="text-center">目标医药费(万元)</th>
                                    <th nowrap="nowrap" class="text-center">目标综合成本(万元)</th>
                                    <th nowrap="nowrap" class="text-center">目标管理符合数</th>
                                    <th nowrap="nowrap" class="text-center">实际交期</th>
                                    <th nowrap="nowrap" class="text-center">完成数</th>
                                    <th nowrap="nowrap" class="text-center">未完成数</th>
                                    <th nowrap="nowrap" class="text-center">实际成品率</th>
                                    <th nowrap="nowrap" class="text-center">实际医药费</th>
                                    <th nowrap="nowrap" class="text-center">实际成本</th>
                                    <th nowrap="nowrap" class="text-center">实际管理符合数</th>
                                    <th nowrap="nowrap" class="text-center">操作</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for data in internal_control_indicators %}
                                    <tr>
                                        <td>
                                            <label class="lyear-checkbox checkbox-primary">
                                                <input type="checkbox" name="ids[]" value="{{ data.id }}"><span></span>
                                            </label>
                                        </td>

                                        {% if data|order_status == '按时完成' %}
                                            <td nowrap="nowrap">
                                                <span class="label label-info">按时完成</span>
                                            </td>
                                            <td nowrap="nowrap">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-info"
                                                         style="width: 100%;"></div>
                                                </div>
                                            </td>
                                        {% elif data|order_status == '逾期完成' %}
                                            <td nowrap="nowrap">
                                                <span class="label label-yellow">逾期完成</span>
                                            </td>
                                            <td nowrap="nowrap">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-yellow"
                                                         style="width: 100%;"></div>
                                                </div>
                                            </td>
                                        {% elif data|order_status == '尚未完成' %}
                                            <td nowrap="nowrap">
                                                <span class="label label-primary">尚未完成</span>
                                            </td>
                                            <td nowrap="nowrap">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-primary"
                                                         style="width: {{ data.order_date|progress:data.scheduled_delivery }}%;"></div>
                                                </div>
                                            </td>
                                        {% elif data|order_status == '快到交期' %}
                                            <td nowrap="nowrap">
                                                <span class="label label-pink">快到交期</span>
                                            </td>
                                            <td nowrap="nowrap">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-pink"
                                                         style="width: {{ data.order_date|progress:data.scheduled_delivery }}%;"></div>
                                                </div>
                                            </td>
                                        {% elif data|order_status == '已经逾期' %}
                                            <td nowrap="nowrap">
                                                <span class="label label-danger">已经逾期</span>
                                            </td>
                                            <td nowrap="nowrap">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-danger"
                                                         style="width: 100%;"></div>
                                                </div>
                                            </td>
                                        {% endif %}

                                        <td nowrap="nowrap">{{ data.order_date|date:"Y年m月d日" }}</td>
                                        <td nowrap="nowrap">{{ data.order_number }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.order_money|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">{{ data.scheduled_delivery|date:"Y年m月d日" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_well_done_rate|percentage }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_medical_expenses|floatformat:"2" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_comprehensive_cost|floatformat:"2" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_management_compliance }}</td>
                                        <td nowrap="nowrap">{{ data.actual_delivery|date:"Y年m月d日" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.finished_number|clear_none }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.unfinished_number|clear_none }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.actual_well_done_rate|clear_none|percentage }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.actual_medical_expenses|clear_none|floatformat:"2" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.actual_cost|clear_none|floatformat:"2" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.actual_management_compliance|clear_none }}</td>
                                        <td nowrap="nowrap">
                                            <div class="btn-group-justified">
                                                <a class="btn btn-xs btn-default" href="#!" title="编辑"
                                                   data-toggle="modal" data-target="#modify"
                                                   onclick="give_change_modal('{{ data.id }}', '{{ data.order_date|date:"Y-m-d" }}',
                                                           '{{ data.order_number }}','{{ data.order_money }}' , '{{ data.scheduled_delivery|date:"Y-m-d" }}', '{{ data.actual_delivery|date:"Y-m-d" }}',
                                                           '{{ data.finished_number }}', '{{ data.unfinished_number }}', '{{ data.target_well_done_rate }}',
                                                           '{{ data.actual_well_done_rate }}', '{{ data.target_medical_expenses }}', '{{ data.target_comprehensive_cost }}',
                                                           '{{ data.target_management_compliance }}', '{{ data.actual_medical_expenses }}', '{{ data.actual_cost }}', '{{ data.actual_management_compliance }}')">
                                                    <i class="mdi mdi-pencil"></i></a>
                                                <a class="btn btn-xs btn-default" href="#!" title="删除"
                                                   data-toggle="modal" data-target="#del"
                                                   onclick="give_delete_modal('{{ data.id }}')">
                                                    <i class="mdi mdi-window-close"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {{ page_info.pager|safe }}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!-- 给确认删除模态框传值 -->
    <script type="text/javascript">
        function give_delete_modal(delete_id) {
            $('#id_delete_id').val(delete_id);
        }
    </script>
    <!-- 给修改数据模态框传值 -->
    <script type="text/javascript">
        function give_change_modal(change_id,
                                   change_order_date,
                                   change_order_number,
                                   change_order_money,
                                   change_scheduled_delivery,
                                   change_actual_delivery,
                                   change_finished_number,
                                   change_unfinished_number,
                                   change_target_well_done_rate,
                                   change_actual_well_done_rate,
                                   change_target_medical_expenses,
                                   change_target_comprehensive_cost,
                                   change_target_management_compliance,
                                   change_actual_medical_expenses,
                                   change_actual_cost,
                                   change_actual_management_compliance,
        ) {
            $('#id_change_id').val(change_id);
            $('#id_change_order_date').val(change_order_date);
            $('#id_change_order_number').val(change_order_number);
            $('#id_change_order_money').val(change_order_money);
            $('#id_change_scheduled_delivery').val(change_scheduled_delivery);
            $('#id_change_actual_delivery').val(change_actual_delivery);
            $('#id_change_finished_number').val(change_finished_number);
            $('#id_change_unfinished_number').val(change_unfinished_number);
            $('#id_change_target_well_done_rate').val(change_target_well_done_rate);
            change_actual_well_done_rate = parseInt(change_actual_well_done_rate);
            $('#id_change_actual_well_done_rate').val(change_actual_well_done_rate);
            $('#id_change_target_medical_expenses').val(change_target_medical_expenses);
            $('#id_change_target_comprehensive_cost').val(change_target_comprehensive_cost);
            $('#id_change_target_management_compliance').val(change_target_management_compliance);
            $('#id_change_actual_medical_expenses').val(change_actual_medical_expenses);
            $('#id_change_actual_cost').val(change_actual_cost);
            $('#id_change_actual_management_compliance').val(change_actual_management_compliance);
        }
    </script>
    <!-- 提交选中删除 -->
    <script type="text/javascript">
        function dels() {
            var a = document.getElementsByName("ids[]");
            var case_id = [];
            for (var i = 0; i < a.length; i++) {
                if (a[i].checked) {
                    case_id.push(a[i].value)
                }
            }
            console.log(case_id);
            $.ajax({
                type: "get",
                url: "{% url 'delete_internal_control_indicators' %}",
                traditional: true,
                data: {'delete_id': case_id},
                success: function (arg) {
                    if (arg === 'success') {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!--日期选择插件-->
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/bootstrap-datepicker/bootstrap-datepicker3.min.css' %}" type="text/css">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css">



{% endblock %}