{% extends 'base.html' %}

{% block modal_content %}
    <!--导入表格-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'upload_internal_control_indicators_performance' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">导入内控指标</h4>
                    </div>
                    <div class="modal-body">
                        支持excel和csv文件
                        <div class="form-group">
                            <input class="form-control" type="file" name="upload_file">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">导入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--删除按钮(选中)-->
    <div class="modal fade" id="dels" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delsModalLabel">删除选中内控指标数据</h4>
                </div>
                <div class="modal-body">
                    确认删除选中内控指标数据?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="dels()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--删除按钮(单条)-->
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'delete_internal_control_indicators' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">删除内控指标数据</h4>
                    </div>
                    <div class="modal-body">
                        确认删除该条内控指标数据?
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_delete_id" name="delete_id">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--新增按钮-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'add_internal_control_indicators' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addLabel">新增内控指标数据</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_date" class="control-label">时间：</label>
                            <input type="date" class="form-control" id="id_date" name="date" required>
                        </div>
                        <div class="form-group">
                            <label for="id_order_number" class="control-label">订单号：</label>
                            <input type="text" class="form-control" id="id_order_number" name="order_number" required>
                        </div>
                        <div class="form-group">
                            <label for="id_order_money" class="control-label">订单额：</label>
                            <input type="text" class="form-control" id="id_order_money" name="order_money" required>
                        </div>
                        <div class="form-group">
                            <label for="id_scheduled_delivery" class="control-label">计划交期：</label>
                            <input type="date" class="form-control" id="id_scheduled_delivery" name="scheduled_delivery" required>
                        </div>
                        <div class="form-group">
                            <label for="id_actual_delivery" class="control-label">实际交期：</label>
                            <input type="date" class="form-control" id="id_actual_delivery" name="actual_delivery" required>
                        </div>
                        <div class="form-group">
                            <label for="id_finished_number" class="control-label">完成数：</label>
                            <input type="number" class="form-control" id="id_finished_number" name="finished_number" required>
                        </div>
                        <div class="form-group">
                            <label for="id_unfinished_number" class="control-label">未完成数：</label>
                            <input type="number" class="form-control" id="id_unfinished_number" name="unfinished_number" required>
                        </div>
                        <div class="form-group">
                            <label for="id_target_well_done_rate" class="control-label">目标成功率：</label>
                            <input type="number" class="form-control" id="id_target_well_done_rate" name="target_well_done_rate" required>
                        </div>
                        <div class="form-group">
                            <label for="id_actual_well_done_rate" class="control-label">实际成功率：</label>
                            <input type="number" class="form-control" id="id_actual_well_done_rate" name="actual_well_done_rate" required>
                        </div>
                        <div class="form-group">
                            <label for="id_target_medical_expenses" class="control-label">目标医药费(万元)：</label>
                            <input type="number" class="form-control" id="id_target_medical_expenses" name="target_medical_expenses" required>
                        </div>
                        <div class="form-group">
                            <label for="id_target_comprehensive_cost" class="control-label">目标综合成本：</label>
                            <input type="number" class="form-control" id="id_target_comprehensive_cost" name="target_comprehensive_cost" required>
                        </div>
                        <div class="form-group_n">
                            <label for="id_target_management_compliance" class="control-label">目标管理符合数目：</label>
                            <input type="number" class="form-control" id="id_target_management_compliance" name="target_management_compliance" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--修改按钮-->
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'change_internal_control_indicators' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modifyLabel">修改内控指标数据</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_change_date" class="control-label">时间：</label>
                            <input type="date" class="form-control" id="id_change_date" name="date" required>
                        </div>
                        <div class="form-group">
                            <label for="id_change_order_number" class="control-label">订单号：</label>
                            <input type="text" class="form-control" id="id_change_order_number" name="order_number" required>
                        </div>
                        <div class="form-group">
                            <label for="id_change_order_money" class="control-label">订单额：</label>
                            <input type="text" class="form-control" id="id_change_order_money" name="order_money" required>
                        </div>
                        <div class="form-group">
                            <label for="id_change_scheduled_delivery" class="control-label">计划交期：</label>
                            <input type="date" class="form-control" id="id_change_scheduled_delivery" name="scheduled_delivery" required>
                        </div>
                        <div class="form-group">
                            <label for="id_change_actual_delivery" class="control-label">实际交期：</label>
                            <input type="date" class="form-control" id="id_change_actual_delivery" name="actual_delivery" required>
                        </div>
                        <div class="form-group">
                            <label for="id_change_finished_number" class="control-label">完成数：</label>
                            <input type="number" class="form-control" id="id_change_finished_number" name="finished_number" required>
                        </div>
                        <div class="form-group">
                            <label for="id_change_unfinished_number" class="control-label">未完成数：</label>
                            <input type="number" class="form-control" id="id_change_unfinished_number" name="unfinished_number" required>
                        </div>
                        <div class="form-group">
                            <label for="id_change_target_well_done_rate" class="control-label">目标成功率：</label>
                            <input type="number" class="form-control" id="id_change_target_well_done_rate" name="target_well_done_rate" required>
                        </div>
                        <div class="form-group">
                            <label for="id_change_actual_well_done_rate" class="control-label">实际成功率：</label>
                            <input type="number" class="form-control" id="id_change_actual_well_done_rate" name="actual_well_done_rate" required>
                        </div>
                        <div class="form-group">
                            <label for="id_change_target_medical_expenses" class="control-label">目标医药费(万元)：</label>
                            <input type="number" class="form-control" id="id_change_target_medical_expenses" name="target_medical_expenses" required>
                        </div>
                        <div class="form-group">
                            <label for="id_change_target_comprehensive_cost" class="control-label">目标综合成本：</label>
                            <input type="number" class="form-control" id="id_change_target_comprehensive_cost" name="target_comprehensive_cost" required>
                        </div>
                        <div class="form-group_n">
                            <label for="id_change_target_management_compliance" class="control-label">目标管理符合数目：</label>
                            <input type="number" class="form-control" id="id_change_target_management_compliance" name="target_management_compliance" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-warning">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block manage_data_active %}active open{% endblock %}
{% block show_internal_control_indicators_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>内控指标汇总</b></h4>
                       <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        年份 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                          <li><a href="#!">2015</a></li>
                        <li><a href="#!">2016</a></li>
                        <li><a href="#!">2018</a></li>
                        <li><a href="#!">2019</a></li>
                        <li><a href="#!">2020</a></li>
                        <li><a href="#!">2021</a></li>
                      </ul>
                    </div>
                        <div class="example-box">
                            <button type="button" class="btn btn-danger m-r-5 pull-right" data-toggle="modal" data-target="#dels"><i class="mdi mdi-window-close"></i> 删除</button>
                            <button type="button" class="btn btn-success m-r-5 pull-right" data-toggle="modal" data-target="#export"></i><i class="mdi mdi-file-excel"></i> 导入表格</button>
                            <button type="button" class="btn btn-success m-r-5 pull-right" data-toggle="modal" data-target="#add" data-whatever="@mdo"><i class="mdi mdi-plus"></i> 新增</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <label class="lyear-checkbox checkbox-primary">
                                            <input type="checkbox" id="check-all"><span></span>
                                        </label>
                                    </th>
                                    <th>时间</th>
                                    <th>订单号</th>
                                    <th>订单额</th>
                                    <th>计划交期</th>
                                    <th>实际交期</th>
                                    <th>完成数</th>
                                    <th>未完成数</th>
                                    <th>目标成功率</th>
                                    <th>实际成功率</th>
                                    <th>当月医药费(万元)</th>
                                    <th>万元成本</th>
                                    <th>现场管理符合数目</th>
                                    <th>操作</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for data in internal_control_indicators %}
                                <tr>
                                    <td>
                                        <label class="lyear-checkbox checkbox-primary">
                                            <input type="checkbox" name="ids[]" value="{{ data.id }}"><span></span>
                                        </label>
                                    </td>
                                    <td>{{ data.date|date:"Y年m月d日" }}</td>
                                    <td>{{ data.order_number }}</td>
                                    <td>{{ data.order_money }}</td>
                                    <td>{{ data.scheduled_delivery|date:"Y年m月d日" }}</td>
                                    <td>{{ data.actual_delivery|date:"Y年m月d日" }}</td>
                                    <td>{{ data.finished_number }}</td>
                                    <td>{{ data.unfinished_number }}</td>
                                    <td>{{ data.target_well_done_rate }}</td>
                                    <td>{{ data.actual_well_done_rate }}</td>
                                    <td>{{ data.target_medical_expenses }}</td>
                                    <td>{{ data.target_comprehensive_cost }}</td>
                                    <td>{{ data.target_management_compliance }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="modal" data-target="#modify" onclick="give_change_modal('{{ data.id }}', '{{ data.date|date:"Y-m-d" }}',
                                            '{{ data.order_number }}','{{ data.order_money }}' , '{{ data.scheduled_delivery|date:"Y-m-d" }}', '{{ data.actual_delivery|date:"Y-m-d" }}',
                                            '{{ data.finished_number }}', '{{ data.unfinished_number }}', '{{ data.target_well_done_rate }}',
                                            '{{ data.actual_well_done_rate }}', '{{ data.target_medical_expenses }}', '{{ data.target_comprehensive_cost }}',
                                            '{{ data.target_management_compliance }}')"><i class="mdi mdi-pencil"></i></a>
                                            <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="modal" data-target="#del" onclick="give_delete_modal('{{ data.id }}')"><i class="mdi mdi-window-close"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div>
                            <nav>
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="#!">
                                            <span><i class="mdi mdi-chevron-left"></i></span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#!">2</a></li>
                                    <li><a href="#!">3</a></li>
                                    <li><a href="#!">4</a></li>
                                    <li><a href="#!">5</a></li>
                                    <li><a href="#!">...</a></li>
                                    <li><a href="#!">1000</a></li>
                                    <li>
                                        <a href="#!">
                                            <span><i class="mdi mdi-chevron-right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!-- 给确认删除模态框传值 -->
    <script type="text/javascript">
        function give_delete_modal(delete_id) {
            $('#id_delete_id').val(delete_id);
        }
    </script>
    <!-- 给修改数据模态框传值 -->
    <script type="text/javascript">
        function give_change_modal(change_id,
                                   change_date,
                                   change_order_number,
                                   change_order_money,
                                   change_scheduled_delivery,
                                   change_actual_delivery,
                                   change_finished_number,
                                   change_unfinished_number,
                                   change_target_well_done_rate,
                                   change_actual_well_done_rate,
                                   change_target_medical_expenses,
                                   change_target_comprehensive_cost,
                                   change_target_management_compliance) {
            $('#id_change_id').val(change_id);
            $('#id_change_date').val(change_date);
            $('#id_change_order_number').val(change_order_number);
            $('#id_change_order_money').val(change_order_money);
            $('#id_change_scheduled_delivery').val(change_scheduled_delivery);
            $('#id_change_actual_delivery').val(change_actual_delivery);
            $('#id_change_finished_number').val(change_finished_number);
            $('#id_change_unfinished_number').val(change_unfinished_number);
            $('#id_change_target_well_done_rate').val(change_target_well_done_rate);
            $('#id_change_actual_well_done_rate').val(change_actual_well_done_rate);
            $('#id_change_target_medical_expenses').val(change_target_medical_expenses);
            $('#id_change_target_comprehensive_cost').val(change_target_comprehensive_cost);
            $('#id_change_target_management_compliance').val(change_target_management_compliance);
        }
    </script>
    <!-- 提交选中删除 -->
    <script type="text/javascript">
        function dels() {
            var a = document.getElementsByName("ids[]");
            var case_id = [];
            for (var i=0;i<a.length;i++){
                if(a[i].checked){
                    case_id.push(a[i].value)
                }
            }
            console.log(case_id);
            $.ajax({
                type: "get",
                url: "{% url 'delete_internal_control_indicators' %}",
                traditional: true,
                data: {'delete_id': case_id},
                success: function (arg) {
                    if (arg==='success') {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}