{% extends 'base.html' %}
{% load static %}
{% block title %}业务数据管理-月度营业数据{% endblock %}

{% block modal_content %}
    <!--导入表格-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'upload_monthly_performance' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">导入月度营业数据</h4>
                    </div>
                    <div class="modal-body">
                        支持Excel文件
                        <div class="form-group">
                            <input class="form-control" type="file" name="upload_file">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="download_model" type="button" class="btn pull-left">
                            <a href="{% url 'download_monthly_sales_modal' %}">下载模板</a>
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="uploading" type="submit" class="btn btn-danger">导入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--删除按钮(选中)-->
    <div class="modal fade" id="dels" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delsModalLabel">删除选中月度营业数据</h4>
                </div>
                <div class="modal-body">
                    确认删除选中月度营业数据?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="deleting" type="button" class="btn btn-danger" onclick="dels()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--删除按钮(单条)-->
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'delete_monthly_sales_data' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">删除月度营业数据</h4>
                    </div>
                    <div class="modal-body">
                        确认删除该条月度营业数据?
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_delete_id" name="delete_id">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--新增按钮-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'add_monthly_sales_data' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addLabel">新增月度营业数据</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="date_n" class="control-label">日期：</label>
                            <input type="text" class="form-control" id="date_n" name="date" required>
                        </div>
{#                        <div class="form-group">#}
{#                            <label for="turnover_n" class="control-label">营业额(万元)：</label>#}
{#                            <input type="text" class="form-control" id="turnover_n" name="turnover" required>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="expenses_n" class="control-label">营业费用(万元)：</label>#}
{#                            <input type="text" class="form-control" id="expenses_n" name="operating_expenses" required>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="return_n" class="control-label">回款额(万元)：</label>#}
{#                            <input type="text" class="form-control" id="return_n" name="amount_repaid" required>#}
{#                        </div>#}
                        <div class="form-group">
                            <label for="stock_n" class="control-label">库存量：</label>
                            <input type="number" class="form-control" id="stock_n" name="inventory" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--修改按钮-->
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'change_monthly_sales_data' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modifyLabel">修改月度营业数据</h4>
                    </div>
                    <div class="modal-body">
                        <input hidden id="id_change_id" name="change_id">
                        <div class="form-group">
                            <label for="id_change_date" class="control-label">年月：</label>
                            <input type="text" class="form-control" id="id_change_date" name="change_date" required>
                        </div>
                        <div class="form-group">
                            <label for="turnover_m" class="control-label">营业额(万元)：</label>
                            <input type="text" class="form-control" id="id_change_turnover" name="change_turnover">
                        </div>
                        <div class="form-group">
                            <label for="expenses_m" class="control-label">营业费用(万元)：</label>
                            <input type="text" class="form-control" id="id_change_operating_expenses"
                                   name="change_operating_expenses" required>
                        </div>
                        <div class="form-group">
                            <label for="return_m" class="control-label">回款额(万元)：</label>
                            <input type="text" class="form-control" id="id_change_amount_repaid"
                                   name="change_amount_repaid" required>
                        </div>
                        <div class="form-group">
                            <label for="stock_m" class="control-label">库存量：</label>
                            <input type="number" class="form-control" id="id_change_inventory" name="change_inventory"
                                   required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block manage_data_active %}active open{% endblock %}
{% block show_monthly_sales_data_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>月度营业数据管理</b></h4>
                    </div>
                    <div class="card-toolbar clearfix">
                        <from class="pull-right search-bar" method="post" action="#!" role="form">
                            <div class="input-group-btn">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{ current_year }} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li class="{% ifequal current_year '所有年份' %}active{% endifequal %}">
                                                    <a href="{% url 'show_monthly_sales_data' %}?current_year=所有年份">所有年份</a>
                                                </li>
                                                {% for year in year_list %}
                                                    <li class="{% ifequal current_year year.year %}active{% endifequal %}">
                                                        <a href="{% url 'show_monthly_sales_data' %}?current_year={{ year.year }}">{{ year.year }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </from>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-dark m-r-5" data-toggle="modal"
                                    data-target="#add" data-whatever="@mdo"><i class="mdi mdi-plus"></i> 新增
                            </button>
                            <button type="button" class="btn btn-dark m-r-5" data-toggle="modal"
                                    data-target="#export"><i class="mdi mdi-file-excel"></i> 导入表格
                            </button>
                            <button type="button" class="btn btn-danger m-r-5" data-toggle="modal"
                                    data-target="#dels"><i class="mdi mdi-window-close"></i> 删除
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <label class="lyear-checkbox checkbox-primary">
                                            <input type="checkbox" id="check-all"><span></span>
                                        </label>
                                    </th>
                                    {% if current_year == '所有年份' %}
                                        <th nowrap="nowrap" class="text-center">年份</th>
                                    {% endif %}
                                    <th nowrap="nowrap" class="text-center">月份</th>
                                    <th nowrap="nowrap" class="text-right">营业额(万元)</th>
                                    <th nowrap="nowrap" class="text-right">营业费用(万元)</th>
                                    <th nowrap="nowrap" class="text-right">回款额(万元)</th>
                                    <th nowrap="nowrap" class="text-right">库存量</th>
                                    <th nowrap="nowrap" class="text-right">利润额(万元)</th>
                                    <th nowrap="nowrap" class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in monthly_sales_data %}
                                    <tr class="text-right">
                                        <td>
                                            <label class="lyear-checkbox checkbox-primary">
                                                <input type="checkbox" name="ids[]"
                                                       value="{{ data.id }}"><span></span>
                                            </label>
                                        </td>
                                        {% if current_year == '所有年份' %}
                                            <th nowrap="nowrap" class="text-center">{{ data.year }}</th>
                                        {% endif %}
                                        <th nowrap="nowrap" class="text-center">{{ data.month }}</th>
                                        <td nowrap="nowrap">{{ data.turnover|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">{{ data.operating_expenses|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">{{ data.amount_repaid|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">{{ data.inventory }}</td>
                                        <td nowrap="nowrap">{{ data.profit|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">
                                            <div class="btn-group-justified">
                                                <a class="btn btn-xs btn-default" href="#!" title="编辑"
                                                   data-toggle="modal" data-target="#modify"
                                                   onclick="give_change_modal('{{ data.id }}', '{{ data.year }}', '{{ data.month }}',
                                                           '{{ data.turnover }}', '{{ data.operating_expenses }}', '{{ data.amount_repaid }}', '{{ data.inventory }}', '{{ data.profit }}')"><i
                                                        class="mdi mdi-pencil"></i></a>
                                                <a class="btn btn-xs btn-default" href="#!" title="删除"
                                                   data-toggle="modal" data-target="#del"
                                                   onclick="give_delete_modal('{{ data.id }}')"><i
                                                        class="mdi mdi-window-close"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!-- 给确认删除模态框传值 -->
    <script type="text/javascript">
        function give_delete_modal(delete_id) {
            $('#id_delete_id').val(delete_id);
        }
    </script>
    <!-- 给修改数据模态框传值 -->
    <script type="text/javascript">
        function give_change_modal(change_id,
                                   change_year,
                                   change_month,
                                   change_turnover,
                                   change_operating_expenses,
                                   change_amount_repaid,
                                   change_inventory,
                                   change_profit) {
            $('#id_change_id').val(change_id);
            var year_month = change_year + '-' + change_month;
            $('#id_change_date').val(year_month);
            $('#id_change_turnover').val(change_turnover);
            $('#id_change_operating_expenses').val(change_operating_expenses);
            $('#id_change_amount_repaid').val(change_amount_repaid);
            $('#id_change_inventory').val(change_inventory);
            $('#id_change_profit').val(change_profit);
        }
    </script>
    <!-- 提交选中删除 -->
    <script type="text/javascript">
        function dels() {
            var a = document.getElementsByName("ids[]");
            var case_id = [];
            for (var i = 0; i < a.length; i++) {
                if (a[i].checked) {
                    case_id.push(a[i].value)
                }
            }
            $.ajax({
                type: "get",
                url: "{% url 'delete_monthly_sales_data' %}",
                traditional: true,
                data: {'delete_id': case_id},
                success: function (arg) {
                    if (arg === 'success') {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        $('#uploading').click(function f() {
                lightyear.loading('show');
            }
        );
        $('#deleting').click(function f() {
                lightyear.loading('show');
            }
        )
    </script>
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- 年月日期选择器 -->
    <script src="{% static 'js/laydate/laydate.js' %}"></script>
    <script>
        lay('#version').html('-v' + laydate.v);
        //执行一个laydate实例
        laydate.render({
            elem: '#date_n'
            , type: 'month'
        });
    </script>
    <script>
        lay('#version').html('-v' + laydate.v);
        //执行一个laydate实例
        laydate.render({
            elem: '#id_change_date'
            , type: 'month'
        });
    </script>
{% endblock %}