{% extends 'base.html' %}
{% load static %}
{% load queryset_data %}
{% block title %}业务数据管理-常量数据{% endblock %}

{% block modal_content %}
    <!--导入表格-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'upload_constant_data' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">导入表格</h4>
                    </div>
                    <div class="modal-body">
                        支持Excel文件
                        <div class="form-group">
                            <input class="form-control" type="file" name="upload_file">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">导入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--删除按钮(选中)-->
    <div class="modal fade" id="dels" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delsModalLabel">删除选中数据</h4>
                </div>
                <div class="modal-body">
                    确认删除选中数据?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="dels()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--删除按钮(单条)-->
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'delete_constant_data' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">删除数据</h4>
                    </div>
                    <div class="modal-body">
                        确认删除该条数据?
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_delete_id" name="delete_id">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--新增按钮-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'add_constant_data' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addLabel">新增数据</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_annual_target_turnover" class="control-label">年度目标营业额：</label>
                            <input type="text" class="form-control" id="id_annual_target_turnover"
                                   name="annual_target_turnover" required>
                        </div>
                        <div class="form-group">
                            <label for="id_annual_target_award" class="control-label">年度目标奖金额：</label>
                            <input type="text" class="form-control" id="id_annual_target_award"
                                   name="annual_target_award" required>
                        </div>
                        <div class="form-group">
                            <label for="id_target_medical_expenses_rate" class="control-label">目标医药费百分比：</label>
                            <input type="text" class="form-control" id="id_target_medical_expenses_rate"
                                   name="target_medical_expenses_rate" required>
                        </div>
                        <div class="form-group">
                            <label for="id_target_comprehensive_cost_rate" class="control-label">目标综合成本百分比：</label>
                            <input type="text" class="form-control" id="id_target_comprehensive_cost_rate"
                                   name="target_comprehensive_cost_rate" required>
                        </div>
                        <div class="form-group">
                            <label for="id_target_management_compliance_value" class="control-label">目标管理符合数值：</label>
                            <input type="text" class="form-control" id="id_target_management_compliance_value"
                                   name="target_management_compliance_value" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--修改按钮-->
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <form action="{% url 'change_constant_data' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modifyLabel">修改数据</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="date_m" class="control-label">启用日：</label>
                            <input class="form-control js-datepicker m-b-10" type="text" id="date_m" name="date_m"
                                   data-date-format="yyyy-mm-dd" placeholder="年/月/日" required>
                        </div>
                        <div class="form-group">
                            <label for="annual_target_turnover_m" class="control-label">年度目标营业额：</label>
                            <input type="text" class="form-control" id="annual_target_turnover_m" name="annual_target_turnover_m">
                        </div>
                        <div class="form-group">
                            <label for="annual_target_award_m" class="control-label">年度目标奖金额：</label>
                            <input type="text" class="form-control" id="annual_target_award_m" name="annual_target_award_m">
                        </div>
                        <div class="form-group">
                            <label for="target_medical_expenses_rate_m" class="control-label">目标医药费百分比：</label>
                            <input type="text" class="form-control" id="target_medical_expenses_rate_m"
                                   name="target_medical_expenses_rate_m">
                        </div>
                        <div class="form-group">
                            <label for="target_comprehensive_cost_rate_m" class="control-label">目标综合成本百分比：</label>
                            <input type="text" class="form-control" id="target_comprehensive_cost_rate_m"
                                   name="target_comprehensive_cost_rate_m">
                        </div>
                        <div class="form-group">
                            <label for="target_management_compliance_value_m" class="control-label">目标管理符合数值：</label>
                            <input type="text" class="form-control" id="target_management_compliance_value_m"
                                   name="target_management_compliance_value_m">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_change_id" name="change_id">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block manage_data_active %}active open{% endblock %}
{% block show_constant_data_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>常量数据</b></h4>
                    </div>
                    <div class="card-toolbar clearfix">
                        <from class="pull-right search-bar" method="post" action="#!" role="form">
                            <div class="input-group-btn">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <div class="btn-group">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </from>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-dark m-r-5" data-toggle="modal"
                                    data-target="#add" data-whatever="@mdo"><i class="mdi mdi-plus"></i> 新增
                            </button>
                            <button type="button" class="btn btn-dark m-r-5" data-toggle="modal"
                                    data-target="#export"></i><i class="mdi mdi-file-excel"></i> 导入表格
                            </button>
                            <button type="button" class="btn btn-danger m-r-5" data-toggle="modal"
                                    data-target="#dels"><i class="mdi mdi-window-close"></i> 删除
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <label class="lyear-checkbox checkbox-primary">
                                            <input type="checkbox" id="check-all"><span></span>
                                        </label>
                                    </th>
                                    <th nowrap="nowrap" class="text-center">序号</th>
                                    <th nowrap="nowrap" class="text-center">启用日</th>
                                    <th nowrap="nowrap" class="text-center">年度目标营业额</th>
                                    <th nowrap="nowrap" class="text-center">年度目标奖金额</th>
                                    <th nowrap="nowrap" class="text-center">目标医药费百分比</th>
                                    <th nowrap="nowrap" class="text-center">目标综合成本百分比</th>
                                    <th nowrap="nowrap" class="text-center">目标管理符合数值</th>
                                    <th nowrap="nowrap" class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for data in constant_data %}
                                    <tr>
                                        <td>
                                            <label class="lyear-checkbox checkbox-primary">
                                                <input type="checkbox" name="ids[]" value="{{ data.id }}"><span></span>
                                            </label>
                                        </td>
                                        <th nowrap="nowrap" class="text-center">{{ forloop.counter }}</th>
                                        <td nowrap="nowrap" class="text-center">{{ data.date|date:"Y-m-d" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.annual_target_turnover }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.annual_target_award }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_medical_expenses_rate|percentage }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_comprehensive_cost_rate|percentage }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_management_compliance_value }}</td>
                                        <td nowrap="nowrap" class="text-center">
                                            <div class="btn-group-justified">
                                                <a class="btn btn-xs btn-default" href="#!" title="编辑"
                                                   data-toggle="modal" data-target="#modify"
                                                   onclick="give_change_modal('{{ data.id }}', '{{ data.date|date:"Y-m-d" }}', '{{ data.target_medical_expenses_rate }}','{{ data.target_comprehensive_cost_rate }}' ,
                                                           '{{ data.target_management_compliance_value }}',{{ data.annual_target_turnover }},{{ data.annual_target_award }})"><i
                                                        class="mdi mdi-pencil"></i></a>
                                                <a class="btn btn-xs btn-default" href="#!" title="删除"
                                                   data-toggle="modal" data-target="#del"
                                                   onclick="give_delete_modal('{{ data.id }}')"><i
                                                        class="mdi mdi-window-close"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!-- 给确认删除模态框传值 -->
    <script type="text/javascript">
        function give_delete_modal(delete_id) {
            $('#id_delete_id').val(delete_id);
        }
    </script>
    <!-- 给修改数据模态框传值 -->
    <script type="text/javascript">
        function give_change_modal(change_id,
                                   change_date,
                                   change_target_medical_expenses_rate,
                                   change_target_medical_expenses_rate_m,
                                   change_target_management_compliance_value_m,
                                   annual_target_turnover_m,
                                   annual_target_award_m,) {
            $('#id_change_id').val(change_id);
            $('#date_m').val(change_date);
            $('#target_medical_expenses_rate_m').val(change_target_medical_expenses_rate);
            $('#target_comprehensive_cost_rate_m').val(change_target_medical_expenses_rate_m);
            $('#target_management_compliance_value_m').val(change_target_management_compliance_value_m);
            $('#annual_target_turnover_m').val(annual_target_turnover_m);
            $('#annual_target_award_m').val(annual_target_award_m);
        }
    </script>
    <!-- 提交选中删除 -->
    <script type="text/javascript">
        function dels() {
            var a = document.getElementsByName("ids[]");
            var case_id = [];
            for (var i = 0; i < a.length; i++) {
                if (a[i].checked) {
                    case_id.push(a[i].value)
                }
            }
            console.log(case_id);
            $.ajax({
                type: "get",
                url: "{% url 'delete_constant_data' %}",
                traditional: true,
                data: {'delete_id': case_id},
                success: function (arg) {
                    if (arg === 'success') {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!--日期选择插件-->
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/bootstrap-datepicker/bootstrap-datepicker3.min.css' %}" type="text/css">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css">

{% endblock %}