{% extends 'base.html' %}
{% load static %}
{% block title %}系统开放接口{% endblock %}
{% block system_security_backup_active %}active open{% endblock %}
{% block show_open_api_actice %}active{% endblock %}


{% block css_content %}
{% endblock %}

{% block modal_content %}
    <!--修改按钮-->
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="#！" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modifyLabel">修改接口信息</h4>
                    </div>
                    <div class="modal-body">
                        <input hidden id="id_change_id" name="change_id">
                        <div class="form-group">
                            <label for="api_name" class="control-label">接口名称：</label>
                            <input type="text" class="form-control" id="api_name_m" name="api_name_m" required>
                        </div>
                        <div class="form-group">
                            <label for="api_address" class="control-label">接口映射：</label>
                            <input type="text" class="form-control" id="api_address_m" name="api_address_m" required>
                        </div>
                        <div class="form-group">
                            <label for="api_password" class="control-label">接口密码：</label>
                            <input type="text" class="form-control" id="api_password_m" name="api_password_m" required>
                        </div>
                        <div class="form-group">
                            <div class="card">
                                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#home_add" id="home-tab" role="tab"
                                                          data-toggle="tab">月度营业数据</a>
                                    </li>
                                    <li><a href="#profile1_add" role="tab" id="profile-tab" data-toggle="tab">季度营业数据</a>
                                    </li>
                                    <li><a href="#profile2_add" role="tab" id="profile-tab" data-toggle="tab">内控指标汇总</a>
                                    </li>
                                    <li><a href="#profile3_add" role="tab" id="profile-tab" data-toggle="tab">月度绩效考核结果</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown"
                                           aria-controls="myTabDrop1-contents" aria-expanded="false">更多 <span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu" id="myTabDrop1-contents">
                                            <li><a href="#dropdown1_add" id="dropdown1-tab" data-toggle="tab">季度绩效考核结果</a>
                                            </li>
                                            <li><a href="#dropdown2_add" id="dropdown2-tab" data-toggle="tab">季度绩效奖金</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="home_add">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业费用</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>回款额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>库存量</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>利润额</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile1_add">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业费用</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>回款额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>库存量</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>利润额</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile2_add">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>订单时间</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>订单号</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>订单额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>计划交期</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>目标成品率</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>目标医药费</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>目标综合成本</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>目标管理符合数</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>实际交期</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>完成数</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>未完成数</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>实际成品率</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>实际医药费</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>实际成本</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>实际管理符合数</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile3_add">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>交付率</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>成品率</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>医药费</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>当月挖掘成本</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>现场管理符合率</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="dropdown1_add">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业费用</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>回款额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>库存量</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>利润额</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="dropdown2_add">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业额奖金</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业费用奖金</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>回款额奖金</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>库存量奖金</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>利润额奖金</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>合计</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="api_brief" class="control-label">接口简介：</label>
                            <input type="text" class="form-control" id="api_brief_m" name="api_brief_m" required>
                        </div>
                        <div class="form-group">
                            <label for="stock_n" class="control-label">是否启用：</label>
                            <label class="lyear-switch switch-primary">
                                <input type="checkbox" checked="">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--新增按钮-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="#！" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addLabel">新增系统接口</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="api_name" class="control-label">接口名称：</label>
                            <input type="text" class="form-control" id="api_name_n" name="api_name_n" required>
                        </div>
                        <div class="form-group">
                            <label for="api_password" class="control-label">接口密码：</label>
                            <input type="text" class="form-control" id="api_password_n" name="api_password_n" required>
                        </div>
                        <div class="form-group">
                            <div class="card">
                                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#home" id="home-tab" role="tab"
                                                          data-toggle="tab">月度营业数据</a>
                                    </li>
                                    <li><a href="#profile1" role="tab" id="profile-tab" data-toggle="tab">季度营业数据</a>
                                    </li>
                                    <li><a href="#profile2" role="tab" id="profile-tab" data-toggle="tab">内控指标汇总</a>
                                    </li>
                                    <li><a href="#profile3" role="tab" id="profile-tab" data-toggle="tab">月度绩效考核结果</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown"
                                           aria-controls="myTabDrop1-contents" aria-expanded="false">更多 <span
                                                class="caret"></span></a>
                                        <ul class="dropdown-menu" id="myTabDrop1-contents">
                                            <li><a href="#dropdown1" id="dropdown1-tab" data-toggle="tab">季度绩效考核结果</a>
                                            </li>
                                            <li><a href="#dropdown2" id="dropdown2-tab" data-toggle="tab">季度绩效奖金</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="home">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业费用</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>回款额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>库存量</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>利润额</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile1">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业费用</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>回款额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>库存量</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>利润额</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile2">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>订单时间</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>订单号</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>订单额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>计划交期</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>目标成品率</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>目标医药费</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>目标综合成本</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>目标管理符合数</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>实际交期</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>完成数</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>未完成数</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>实际成品率</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>实际医药费</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>实际成本</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>实际管理符合数</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile3">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>交付率</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>成品率</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>医药费</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>当月挖掘成本</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>现场管理符合率</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="dropdown1">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业费用</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>回款额</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>库存量</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>利润额</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="dropdown2">
                                        <div class="example-box">
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业额奖金</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>营业费用奖金</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>回款额奖金</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>库存量奖金</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>利润额奖金</span>
                                            </label>
                                            <label class="lyear-checkbox checkbox-inline checkbox-primary">
                                                <input type="checkbox"><span>合计</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="api_brief" class="control-label">接口简介：</label>
                            <input type="text" class="form-control" id="api_brief_n" name="api_brief_n" required>
                        </div>
                        <div class="form-group">
                            <label for="stock_n" class="control-label">是否启用：</label>
                            <label class="lyear-switch switch-primary">
                                <input type="checkbox" checked="">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 删除备份文件 -->
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'delete_backup' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delsModalLabel">删除选中接口</h4>
                    </div>
                    <div class="modal-body">
                        确认删除该接口?
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_delete_file" name="file_name">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>系统开放接口</b></h4>
                    </div>
                    <div class="card-toolbar clearfix">
                        <form class="pull-right search-bar" method="post"
                              action="#！" role="form">
                            {% csrf_token %}
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        接口状态 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="{% ifequal current_status '所有状态' %}active{% endifequal %}">
                                            <a href="#!">启用</a>
                                        </li>
                                        <li class="{% ifequal current_status '按时完成' %}active{% endifequal %}">
                                            <a href="#!">禁用</a>
                                        </li>
                                    </ul>
                                </div>
                                <input hidden name="action" value="接口名称搜索">
                                <input type="text" class="form-control" name="api_name_search" aria-label="..."
                                       placeholder="请输入接口名称...">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">搜索</button>
                                </div>

                            </div>
                        </form>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-dark m-r-5" data-toggle="modal"
                                    data-target="#add" data-whatever="@mdo"><i class="mdi mdi-plus"></i> 新增接口
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--手风琴效果-->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                           aria-controls="collapseThree">
                                            接口修改时间筛选
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <form method="post" action="#！" role="form">
                                            {% csrf_token %}
                                            <input hidden name="action" value=" 接口修改时间筛选">
                                            <div class="input-daterange input-group">
                                                <input class="form-control js-datepicker" data-date-format="yyyy-mm-dd"
                                                       type="text" id="example-daterange1" name="start_date"
                                                       placeholder="接口调整时间起点" required>
                                                <span class="input-group-addon"><i
                                                        class="mdi mdi-chevron-right"></i></span>
                                                <input class="form-control js-datepicker" data-date-format="yyyy-mm-dd"
                                                       type="text" id="example-daterange2" name="end_date"
                                                       placeholder="接口调整时间终点" required>
                                                <span class="input-group-btn" id="basic-addon3">
                                                <button class="btn btn-default" type="submit">筛选接口</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--手风琴效果 End-->
                        <div id="table_display" class="table-responsive text-right">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th nowrap="nowrap" class="text-center">接口名称</th>
                                    <th nowrap="nowrap" class="text-center">映射链接</th>
                                    <th nowrap="nowrap" class="text-center">接口密码</th>
                                    <th nowrap="nowrap" class="text-center">接口简介</th>
                                    <th nowrap="nowrap" class="text-center">创建时间</th>
                                    <th nowrap="nowrap" class="text-center">修改时间</th>
                                    <th nowrap="nowrap" class="text-center">是否启用</th>
                                    <th nowrap="nowrap" class="text-center">调用次数</th>
                                    <th nowrap="nowrap" class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in datas %}
                                <tr>
                                    <td nowrap="nowrap" class="text-center"><p>{{ data.name }}</p></td>
                                    <td nowrap="nowrap" class="text-center">
                                        <a><span id="copyText_{{ forloop.counter }}">{{ site_url }}/{{ data.name }}</span></a>
                                        <span onclick="copy('copyText_{{ forloop.counter }}');" title="复制">
                                            <i class="mdi mdi-content-copy"></i></span></td>
                                    <td nowrap="nowrap" class="text-center">{{ data.password }}</td>
                                    <td nowrap="nowrap" class="text-center">{{ data.introduction }}</td>
                                    <td nowrap="nowrap" class="text-center">{{ data.create_time }}</td>
                                    <td nowrap="nowrap" class="text-center">{{ data.change_time }}</td>
                                    {% if data.is_enabled %}
                                    <td nowrap="nowrap" class="text-center">
                                        <a class="btn btn-xs btn-default btn-primary" title="启用">
                                            <i class="mdi mdi-check"></i></a></td>
                                    {% else %}
                                    <td nowrap="nowrap" class="text-center">
                                        <a class="btn btn-xs btn-default btn-danger" title="禁用">
                                            <i class="mdi mdi-cancel"></i></a>
                                    </td>
                                    {% endif %}
                                    <td nowrap="nowrap" class="text-center">{{ data.called_times }}次</td>


                                    <td nowrap="nowrap" class="text-center">
                                        <div class="btn-group">
                                            <a class="btn btn-xs btn-default" href="#!" title="修改接口"
                                               data-toggle="modal"
                                               data-target="#modify" onclick="#!"><i
                                                    class="mdi mdi-pencil"></i></a>
                                            <a class="btn btn-xs btn-default" href="#!" title="删除"
                                               data-toggle="modal"
                                               data-target="#del" onclick="give_delete_modal('{{ backup }}')"><i
                                                    class="mdi mdi-window-close"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!--点击映射复制映射链接-->
    <script type="text/javascript">

        function copy(get_id) {
        var text =document.getElementById(get_id).innerText;
        var input = document.createElement('input');
        input.setAttribute('id', 'copyInput');
        input.setAttribute('value', text);
        document.getElementsByTagName('body')[0].appendChild(input);
        document.getElementById('copyInput').select();
        if (document.execCommand('copy')) {
            lightyear.notify('复制成功', 'success', 3000);
        }
        document.getElementById('copyInput').remove();
    }

    </script>
    <!--日期选择插件-->
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/bootstrap-datepicker/bootstrap-datepicker3.min.css' %}" type="text/css">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css">
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- 给确认恢复数据库模态框传值 -->
    <script type="text/javascript">
        function give_load_modal(file_name) {
            $('#id_load_file').val(file_name);
        }
    </script>
    <!-- 给确认删除备份文件模态框传值 -->
    <script type="text/javascript">
        function give_delete_modal(file_name) {
            $('#id_delete_file').val(file_name);
        }
    </script>
    <!-- 给下载备份文件模态框传值 -->
    <script type="text/javascript">
        function give_download_modal(file_name) {
            $('#id_download_file').val(file_name);
        }
    </script>

{% endblock %}