{% extends 'base.html' %}

{% block change_formula_active %}active open{% endblock %}
{% block month_formula_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>修改公式</b></h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>参数</th>
                                <th>说明</th>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>当月约定订单数（给定，录入）</td>
                            </tr>
                            <tr>
                                <td>B</td>
                                <td>当月实际交付数（内控指标汇总 完成数）</td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>当月挖掘成本（内控指标汇总 目标成本-万元成本 目标成本 给定 录入）</td>
                            </tr>
                            <tr>
                                <td>D</td>
                                <td>当月成品率（实际成品率） </td>
                            </tr>
                            <tr>
                                <td>E</td>
                                <td>历史成品率参考值（表里取，数据模拟）</td>
                            </tr>
                            <tr>
                                <td>F</td>
                                <td>历史医药费月度参考值（表里取，数据模拟）</td>
                            </tr>
                            <tr>
                                <td>G</td>
                                <td>当月医药费（内控指标汇总 当月医药费）</td>
                            </tr>
                            <tr>
                                <td>H</td>
                                <td>万元产值成本均值（表里取，数据模拟）</td>
                            </tr>
                            <tr>
                                <td>I</td>
                                <td>万元产值成本（内控指标汇总 万元成本）</td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>现场管理对应标准符合数（内控指标汇总 ）</td>
                            </tr>
                            <tr>
                                <td>L</td>
                                <td>现场管理标准目标数（给定，录入）</td>
                            </tr>
                        </table>
                        <form action="{% url 'change_month_formula' %}" method="post" class="row">
                            {% csrf_token %}
                            <div class="form-group col-md-12">
                                <label for="delivery_rate">交付率公式</label>
                                <input type="text" class="form-control" id="delivery_rate" name="delivery_rate" value="{{ delivery_rate }}" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="well_done_rate">成品率公式</label>
                                <input type="text" class="form-control" id="well_done_rate" name="well_done_rate" value="{{ well_done_rate }}" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="medical_expenses">医药费公式</label>
                                <input type="text" class="form-control" id="medical_expenses" name="medical_expenses" value="{{ medical_expenses }}" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="overall_cost">内控综合成本公式</label>
                                <input type="text" class="form-control" id="overall_cost" name="overall_cost" value="{{ overall_cost }}" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="field_management">现场管理公式</label>
                                <input type="text" class="form-control" id="field_management" name="field_management" value="{{ field_management }}" />
                            </div>

                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">保 存</button>
                                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}