{% extends 'base.html' %}
{% block title %}报表公式修改-季度绩效考核结果{% endblock %}

{% block css_content %}
{% endblock %}

{% block change_formula_active %}active open{% endblock %}
{% block quarter_formula_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h4><b>参数提示</b></h4></div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center">
                                    <tr>
                                        <th class="text-center">参数</th>
                                        <th class="text-center">说明</th>
                                    </tr>
                                    <tr>
                                        <td>A</td>
                                        <td>季度营业额</td>
                                    </tr>
                                    <tr>
                                        <td>B</td>
                                        <td>营业费用</td>
                                    </tr>
                                    <tr>
                                        <td>C</td>
                                        <td>回款额</td>
                                    </tr>
                                    <tr>
                                        <td>D</td>
                                        <td>库存量</td>
                                    </tr>
                                    <tr>
                                        <td>E</td>
                                        <td>利润额</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h4><b>指标生成规则</b></h4></div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <form action="{% url 'change_quarter_formula' %}" method="post">
                                {% csrf_token %}
                                <div class="table-hover">
                                    <table class="table">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="example-hf-email">营业额</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="turnover"
                                                       name="turnover"
                                                       value="{{ turnover }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="example-hf-email">营业费率</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="operating_rate"
                                                       name="operating_rate" value="{{ operating_rate }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="example-hf-email">回款率</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="repaid_rate"
                                                       name="repaid_rate"
                                                       value="{{ repaid_rate }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="example-hf-email">库存率</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="inventory_rate"
                                                       name="inventory_rate" value="{{ inventory_rate }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="example-hf-email">利润率</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="profit_rate"
                                                       name="profit_rate" value="{{ profit_rate }}"/>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <div style="text-align: center;">
                                                <button type="submit" class="btn btn-primary ajax-post"
                                                        target-form="add-form">保 存
                                                </button>
                                                <button type="button" class="btn btn-default"
                                                        onclick="javascript:history.back(-1);return false;">返 回
                                                </button>
                                            </div>
                                        </div>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
