{% extends 'base.html' %}

{% block change_formula_active %}active open{% endblock %}
{% block quarter_formula_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>修改公式</b></h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>参数</th>
                                <th>说明</th>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>年度目标营业额（提前给定，录入）</td>
                            </tr>
                            <tr>
                                <td>B</td>
                                <td>年度目标奖金额（提前给定，录入）</td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>季度实际营业额（表里取、数据模拟）</td>
                            </tr>
                            <tr>
                                <td>D</td>
                                <td>季度实际营业费率（营业费用/营业额） </td>
                            </tr>
                            <tr>
                                <td>E</td>
                                <td>前三年营业费率参考值（表里取、数据模拟）</td>
                            </tr>
                            <tr>
                                <td>F</td>
                                <td>季度实际回款率（回款额/营业额）</td>
                            </tr>
                            <tr>
                                <td>G</td>
                                <td>季度实际库存率（库存量/营业额）</td>
                            </tr>
                            <tr>
                                <td>H</td>
                                <td>前三年库存率参考值（表里取、数据模拟）</td>
                            </tr>
                            <tr>
                                <td>I</td>
                                <td>季度实际利润率（利润额/营业额）</td>
                            </tr>
                            <tr>
                                <td>K</td>
                                <td>前三年利润率参考值（表里取、数据模拟）'</td>
                            </tr>
                        </table>
                        <form action="#!" method="post" class="row">
                            <div class="form-group col-md-12">
                                <label for="turnover">营业额公式</label>
                                <input type="text" class="form-control" id="turnover" name="turnover" value="C*(B/A)%*20%/A*25%C" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="operating_rate">营业费率公式</label>
                                <input type="text" class="form-control" id="operating_rate" name="operating_rate" value="C*(B/A)%*30%/(1-E)*(1-D)" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="repaid_rate">回款率公式</label>
                                <input type="text" class="form-control" id="repaid_rate" name="repaid_rate" value="C*(B/A)%*20%/100%*F" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inventory_rate">库存率公式</label>
                                <input type="text" class="form-control" id="inventory_rate" name="inventory_rate" value="C*(B/A)%*10%/(1-H)*(1-G)" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="profit_rate">利润率公式</label>
                                <input type="text" class="form-control" id="profit_rate" name="profit_rate" value="C*(B/A)%*20%/K*Y" />
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">保 存</button>
                                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}