{% extends 'base.html' %}

{% block change_formula_active %}active open{% endblock %}
{% block month_formula_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h4><b>参数提示</b></h4></div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>参数</th>
                                        <th>说明</th>
                                    </tr>
                                    <tr>
                                        <td>A</td>
                                        <td>当月按时完成的订单数</td>
                                    </tr>
                                    <tr>
                                        <td>B</td>
                                        <td>当月计划完成的订单数</td>
                                    </tr>
                                    <tr>
                                        <td>C</td>
                                        <td>当月实际产品率累加</td>
                                    </tr>
                                    <tr>
                                        <td>D</td>
                                        <td>当月医药费累加</td>
                                    </tr>
                                    <tr>
                                        <td>E</td>
                                        <td>当月实际医药费累加</td>
                                    </tr>
                                    <tr>
                                        <td>F</td>
                                        <td>目标成本</td>
                                    </tr>
                                    <tr>
                                        <td>G</td>
                                        <td>实际成本</td>
                                    </tr>
                                    <tr>
                                        <td>H</td>
                                        <td>实际符合</td>
                                    </tr>
                                    <tr>
                                        <td>I</td>
                                        <td>目标符合</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h4><b>指标生成规则</b></h4></div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <form action="{% url 'change_month_formula' %}" method="post">
                                {% csrf_token %}
                                <div class="table-hover">
                                    <table class="table">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="delivery_rate">交付率</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="delivery_rate"
                                                       name="delivery_rate" value="{{ delivery_rate }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="well_done_rate">成品率</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="well_done_rate"
                                                       name="well_done_rate" value="{{ well_done_rate }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="medical_expenses">医药费</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="medical_expenses"
                                                       name="medical_expenses" value="{{ medical_expenses }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="overall_cost">当月挖掘成本</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="overall_cost"
                                                       name="overall_cost" value="{{ month_dig_cost }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="field_management">现场管理符合率</label>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="field_management"
                                                       name="field_management" value="{{ field_management_well_rate }}"/>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <div style="text-align: center;">
                                                <button type="submit" class="btn btn-primary ajax-post"
                                                        target-form="add-form">保 存
                                                </button>
                                                <button type="button" class="btn btn-default"
                                                        onclick="javascript:history.back(-1);return false;">返 回
                                                </button>
                                            </div>
                                        </div>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}