{% extends 'base.html' %}
{% block title %}报表公式修改-季度绩效奖金{% endblock %}

{% block css_content %}
{% endblock %}

{% block change_formula_active %}active open{% endblock %}
{% block quarter_award_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h4><b>参数提示</b></h4></div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center">
                                    <tr>
                                        <th class="text-center">参数</th>
                                        <th class="text-center">说明</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">A</th>
                                        <td>{{ quarter_award_item_A }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">B</th>
                                        <td>{{ quarter_award_item_B }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">C</th>
                                        <td>{{ quarter_award_item_C }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">D</th>
                                        <td>{{ quarter_award_item_D }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">E</th>
                                        <td>{{ quarter_award_item_E }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">F</th>
                                        <td>{{ quarter_award_item_F }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">G</th>
                                        <td>{{ quarter_award_item_G }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">H</th>
                                        <td>{{ quarter_award_item_H }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">I</th>
                                        <td>{{ quarter_award_item_I }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-center">K</th>
                                        <td>{{ quarter_award_item_K }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <h5 style="font-size: 110%"><b>提示：</b>公式中仅可输入<b>数字</b>、<b>小数点</b>、<b>大写字母</b>、<b>计算符号</b>和<b>西文括号</b></h5>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h4><b>指标生成规则</b></h4></div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <form action="{% url 'change_quarter_award_formula' %}" method="post">
                                {% csrf_token %}
                                <div class="table-hover">
                                    <table class="table">
                                        <div class="form-group">
                                            <nobr><label class="col-md-3 control-label" for="example-hf-email">营业奖金额</label></nobr>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="turnover"
                                                       name="turnover"
                                                       value="{{ turnover }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <nobr><label class="col-md-3 control-label" for="example-hf-email">营业费率奖金额</label></nobr>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="operating_rate"
                                                       name="operating_rate" value="{{ operating_rate }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <nobr><label class="col-md-3 control-label" for="example-hf-email">回款率奖金额</label></nobr>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="repaid_rate"
                                                       name="repaid_rate"
                                                       value="{{ repaid_rate }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <nobr><label class="col-md-3 control-label" for="example-hf-email">库存率奖金额</label></nobr>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="inventory_rate"
                                                       name="inventory_rate" value="{{ inventory_rate }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <nobr><label class="col-md-3 control-label" for="example-hf-email">利润率奖金额</label></nobr>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" id="profit_rate"
                                                       name="profit_rate" value="{{ profit_rate }}"/>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <div style="text-align: center;">
                                                <button type="submit" class="btn btn-primary ajax-post"
                                                        target-form="add-form">保 存
                                                </button>
                                                <button type="button" class="btn btn-default"
                                                        onclick="javascript:history.back(-1);return false;">返 回
                                                </button>
                                            </div>
                                        </div>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <script type="text/javascript">
        $(function () {
            $('table td').click(function () {
                //定义点击事件
                if (!$(this).is('.input')) {
                    //如果当前是.input类
                    $(this).addClass('input').html('<input type="text" value="' + $(this).text() + '" />').find('input').focus().blur(function () {
                        var key = $(this).parent().siblings("th:eq(0)").text();
                        console.log(key);
                        var value = $(this).val();
                        console.log(value);
                        //当前添加类获得元素新插入一个input通过遍历获得input定义伪类，当失去焦点以后在定义一个方法
                        $(this).parent().removeClass('input').html($(this).val() || 0);
                        //当前查找每个元素，删除掉input类获得input所有元素的值并且和0
                        $.ajax({
                            type: "get",
                            url: "{% url 'change_quarter_award_item' %}",
                            traditional: true,
                            data: {
                                'key': key,
                                'value': value,
                            },
                            success: function () {
                                console.log('ok');
                            }
                        });
                    });
                }
            })
        });
    </script>
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
