{% extends 'base.html' %}

{% block css_content %}
    <style>
        .table-formula {
            width: 40%;
            display: inline-block;
            padding: 2em;
            float: left;
        }

        .table-formula > table > tbody > tr > td,
        .table-formula > table > tbody > tr > th,
        .table-formula > table > thead > tr > td,
        .table-formula > table > thead > tr > th {
            padding: 0.75em;
            line-height: 2em;
            border: 0.1em solid #eceeef;
            text-align: center;
        }

        .form-formula {
            width: 50%;
            display: inline-block;
            margin-bottom: 100px;
            padding: 2em;
        }

        .form-formula > form > table > tbody > tr > td,
        .form-formula > form > table > tbody > tr > th,
        .form-formula > form > table > thead > tr > td,
        .form-formula > form > table > thead > tr > th {
            padding: 0.75em;
            line-height: 2em;
            border: 0.1em solid #eceeef;
            text-align: center;
        }

        .input-self {
            border: none;
            width: 300px;
            padding: 0;
            display: inline-block;
            float: left;
        }
    </style>
{% endblock %}

{% block change_formula_active %}active open{% endblock %}
{% block quarter_formula_active %}active{% endblock %}

{% block main_content %}
   <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header"><h4><b>参数提示</b></h4></div>
                            <div class="card-body">
                                    <div class="form-horizontal">
                                        <div class="table-responsive">
                                            <table class="table">
                                            <tr>
                                                <th>参数</th>
                                                <th>说明</th>
                                            </tr>
                                            <tr>
                                                <td>A</td>
                                                <td>年度目标营业额（提前给定，录入）</td>
                                            </tr>
                                            <tr>
                                                <td>B</td>
                                                <td>年度目标奖金额（提前给定，录入）</td>
                                            </tr>
                                            <tr>
                                                <td>C</td>
                                                <td>季度实际营业额（表里取、数据模拟）</td>
                                            </tr>
                                            <tr>
                                                <td>D</td>
                                                <td>季度实际营业费率（营业费用/营业额）</td>
                                            </tr>
                                            <tr>
                                                <td>E</td>
                                                <td>前三年营业费率参考值（表里取、数据模拟）</td>
                                            </tr>
                                            <tr>
                                                <td>F</td>
                                                <td>季度实际回款率（回款额/营业额）</td>
                                            </tr>
                                            <tr>
                                                <td>G</td>
                                                <td>季度实际库存率（库存量/营业额）</td>
                                            </tr>
                                            <tr>
                                                <td>H</td>
                                                <td>前三年库存率参考值（表里取、数据模拟）</td>
                                            </tr>
                                            <tr>
                                                <td>I</td>
                                                <td>季度实际利润率（利润额/营业额）</td>
                                            </tr>
                                            <tr>
                                                <td>K</td>
                                                <td>前三年利润率参考值（表里取、数据模拟）</td>
                                            </tr>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header"><h4><b>修改公式</b></h4></div>
                            <div class="card-body">
                                <div class="form-horizontal" >
                                    <form action="{% url 'change_quarter_formula' %}" method="post">
                                        {% csrf_token %}
                                        <div class="table-hover">
                                            <table class="table">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="example-hf-email">营业额公式</label>
                                        <div class="col-md-7">
                                                <input type="text" class="form-control  input-self" id="turnover" name="turnover"
                                                                  value="{{ turnover }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="example-hf-email">营业费公式</label>
                                        <div class="col-md-7">
                                                <input type="text" class="form-control input-self" id="operating_rate"
                                                                  name="operating_rate" value="{{ operating_rate }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="example-hf-email">回款率公式</label>
                                        <div class="col-md-7">
                                                <input type="text" class="form-control input-self" id="repaid_rate"
                                                                  name="repaid_rate"
                                                                  value="{{ repaid_rate }}"/>
                                        </div>
                                    </div>
                                   <div class="form-group">
                                        <label class="col-md-3 control-label" for="example-hf-email">库存率公式</label>
                                        <div class="col-md-7">
                                                <input type="text" class="form-control input-self" id="inventory_rate"
                                                                  name="inventory_rate" value="{{ inventory_rate }}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="example-hf-email">利润率公式</label>
                                        <div class="col-md-7">
                                                 <input type="text" class="form-control input-self" id="profit_rate"
                                                                   name="profit_rate" value="{{ profit_rate }}"/>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div style="text-align: center;">
                                        <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">保 存</button>
                                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                                        </div>
                                    </div>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
            </div>
                </div>
{% endblock %}

{% block js_content %}
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}