{% extends 'base.html' %}
{% load queryset_data %}

{% block modal_content %}
    <!--导出excel-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'export_internal_control_indicators' %}" method="post">
                    {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delsModalLabel">导出excel</h4>
                </div>
                <div class="modal-body">
                    如遇编码问题，请使用微软office。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-danger">下载</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block show_data_active %}active open{% endblock %}
{% block display_internal_control_indicators_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>内控指标汇总</b></h4>
                        <label for="year" class="control-label">年份：</label>
                        <select name="type" class="form-control" id="year">
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#export"></i><i class="mdi mdi-file-excel"></i> 导出为Excel</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th nowrap="nowrap">状态</th>
                                    <th nowrap="nowrap">时间进度</th>
                                    <th nowrap="nowrap">订单时间</th>
                                    <th nowrap="nowrap">订单号</th>
                                    <th nowrap="nowrap">订单额</th>
                                    <th nowrap="nowrap">计划交期</th>
                                    <th nowrap="nowrap">目标成品率</th>
                                    <th nowrap="nowrap">目标医药费(万元)</th>
                                    <th nowrap="nowrap">目标综合成本(万元)</th>
                                    <th nowrap="nowrap">目标管理符合数</th>
                                    <th nowrap="nowrap">实际交期</th>
                                    <th nowrap="nowrap">完成数</th>
                                    <th nowrap="nowrap">未完成数</th>
                                    <th nowrap="nowrap">实际成品率</th>
                                    <th nowrap="nowrap">实际医药费</th>
                                    <th nowrap="nowrap">实际成本</th>
                                    <th nowrap="nowrap">实际管理符合数</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in internal_control_indicators %}
                                    <tr>
                                        {% if data.finished_number != None %}
                                            {% if data.finished_number == 1 %}
                                                <td nowrap="nowrap">
                                                    <span class="label label-info">按时完成</span>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <div class="progress progress-striped progress-sm">
                                                        <div class="progress-bar progress-bar-info" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td nowrap="nowrap">
                                                    <span class="label label-yellow">逾期完成</span>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <div class="progress progress-striped progress-sm">
                                                        <div class="progress-bar progress-bar-yellow" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% else %}
                                            {% if data.order_date|progress:data.scheduled_delivery %}
                                                {% if data.order_date|progress:data.scheduled_delivery <= 70 %}
                                                    <td nowrap="nowrap">
                                                        <span class="label label-primary">尚未完成</span>
                                                    </td>
                                                    <td nowrap="nowrap">
                                                        <div class="progress progress-striped progress-sm">
                                                            <div class="progress-bar progress-bar-primary" style="width: {{ data.order_date|progress:data.scheduled_delivery }}%;"></div>
                                                        </div>
                                                    </td>
                                                {% else %}
                                                    <td nowrap="nowrap">
                                                        <span class="label label-pink">快到交期</span>
                                                    </td>
                                                    <td nowrap="nowrap">
                                                        <div class="progress progress-striped progress-sm">
                                                            <div class="progress-bar progress-bar-pink" style="width: {{ data.order_date|progress:data.scheduled_delivery }}%;"></div>
                                                        </div>
                                                    </td>
                                                {% endif %}
                                            {% else %}
                                                <td nowrap="nowrap">
                                                    <span class="label label-danger">已经逾期</span>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <div class="progress progress-striped progress-sm">
                                                        <div class="progress-bar progress-bar-danger" style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                        <td nowrap="nowrap">{{ data.order_date|date:"Y年m月d日" }}</td>
                                        <td nowrap="nowrap">{{ data.order_number }}</td>
                                        <td nowrap="nowrap">{{ data.order_money }}</td>
                                        <td nowrap="nowrap">{{ data.scheduled_delivery|date:"Y年m月d日" }}</td>
                                        <td nowrap="nowrap">{{ data.target_well_done_rate|percentage }}</td>
                                        <td nowrap="nowrap">{{ data.target_medical_expenses|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">{{ data.target_comprehensive_cost|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">{{ data.target_management_compliance }}</td>
                                        <td nowrap="nowrap">{{ data.actual_delivery|date:"Y年m月d日" }}</td>
                                        <td nowrap="nowrap">{{ data.finished_number|clear_none }}</td>
                                        <td nowrap="nowrap">{{ data.unfinished_number|clear_none }}</td>
                                        <td nowrap="nowrap">{{ data.actual_well_done_rate|clear_none|percentage }}</td>
                                        <td nowrap="nowrap">{{ data.actual_medical_expenses|clear_none|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">{{ data.actual_cost|clear_none|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">{{ data.actual_management_compliance|clear_none }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {{ page_info.pager|safe }}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}

{% endblock %}