{% extends 'base.html' %}

{% block modal_content %}
    <!--导出excel-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'export_internal_control_indicators' %}" method="post">
                    {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delsModalLabel">导出excel</h4>
                </div>
                <div class="modal-body">
                    如遇编码问题，请使用微软office。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-danger">下载</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block show_data_active %}active open{% endblock %}
{% block display_internal_control_indicators_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>内控指标汇总</b></h4>
                        <label for="year" class="control-label">年份：</label>
                        <select name="type" class="form-control" id="year">
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                        </select>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#export"></i><i class="mdi mdi-file-excel"></i> 导出为Excel</button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>订单号</th>
                                    <th>计划交期</th>
                                    <th>实际交期</th>
                                    <th>完成数</th>
                                    <th>未完成数</th>
                                    <th>目标成品率</th>
                                    <th>实际成品率</th>
                                    <th>当月医药费(万元)</th>
                                    <th>万元成本</th>
                                    <th>现场管理符合数</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in internal_control_indicators %}
                                    <tr>
                                        <th scope="row">{{ data.date|date:"Y年m月d日" }}</th>
                                        <td>{{ data.order_number }}</td>
                                        <td>{{ data.scheduled_delivery|date:"Y年m月d日" }}</td>
                                        <td>{{ data.actual_delivery|date:"Y年m月d日" }}</td>
                                        <td>{{ data.finished_number }}</td>
                                        <td>{{ data.unfinished_number }}</td>
                                        <td>{{ data.target_well_done_rate }}</td>
                                        <td>{{ data.actual_well_done_rate }}</td>
                                        <td>{{ data.target_medical_expenses }}</td>
                                        <td>{{ data.cost_per_wan }}</td>
                                        <td>{{ data.field_management_compliance }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {{ page_info.pager|safe }}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}

{% endblock %}