{% extends 'base.html' %}
{% load static %}
{% load queryset_data %}
{% block title %}数据统计查看-管理层月度绩效考核结果{% endblock %}

{% block css_content %}
    <link href="{% static 'css/echarts.css' %}" rel="stylesheet">
{% endblock %}

{% block modal_content %}
    <!--导出excel-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'export_monthly_performance' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delsModalLabel">导出excel</h4>
                    </div>
                    <div class="modal-body">
                        如遇编码问题，请使用微软office。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">下载</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block show_data_active %}active open{% endblock %}
{% block show_monthly_result_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>管理层月度绩效考核结果（内控）</b></h4>
                        <div class="btn-toolbar">
                            <div class="btn-group-sm">
                                <a id="show_table" class="btn btn-sm btn-default" title="查看表格" data-toggle="tooltip"><i
                                        class="mdi mdi-table-large"></i></a>
                                <a id="show_charts" class="btn btn-sm btn-default" title="查看图表" data-toggle="tooltip"><i
                                        class="mdi mdi-chart-line"></i></a>
                            </div>
                        </div>
{#                        <a href="{% url 'refresh_monthly_result' %}?select_year={{ current_year }}">刷新数据</a>#}


                    </div>
                    <div class="card-toolbar clearfix">
                        <from class="pull-right search-bar" method="post" action="#!" role="form">
                            <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="false" aria-expanded="true">
                                {{ current_year }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for year in year_list %}
                                    <li class="{% ifequal current_year year %}active{% endifequal %}"><a
                                            href="{% url 'show_monthly_result' %}?select_year={{ year }}">{{ year }}</a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        </from>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#export"></i><i class="mdi mdi-file-excel"></i> 导出为Excel
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="table_display" class="table-responsive text-right">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th nowrap="nowrap" class="text-center">月份</th>
                                    <th nowrap="nowrap" class="text-right">交付率</th>
                                    <th nowrap="nowrap" class="text-right">成品率</th>
                                    <th nowrap="nowrap" class="text-right">医药费(万元)</th>
                                    <th nowrap="nowrap" class="text-right">当月挖掘成本(万元)</th>
                                    <th nowrap="nowrap" class="text-right">现场管理符合率</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in monthly_result %}
                                    <tr>
                                        <th nowrap="nowrap" class="text-center">{{ data.month }}</th>
                                        <td nowrap="nowrap">{{ data.delivery_rate|percentage }}</td>
                                        <td nowrap="nowrap">{{ data.well_done_rate|percentage }}</td>
                                        <td nowrap="nowrap">{{ data.medical_expenses|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">{{ data.month_dig_cost|floatformat:"2" }}</td>
                                        <td nowrap="nowrap">{{ data.field_management_well_rate|percentage }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if monthly_result %}
                            <div id="chart_rate" class="chart_month_result_rate hidden"></div>
                            <div id="chart_amount" class="chart_month_result_amount hidden"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript">
        var myChart = $("#chart_rate")[0];
        myChart.style.width = $("#table_display").width() + 'px';
        chartObj = echarts.init(myChart);
        option = {
            title: {
                text: '{{ current_year }}年度各月份绩效考核结果',
                textStyle: {
                    fontSize: 22,
                },
                left: 'center',
            },
            legend: {
                data: ['交付率', '成品率', '现场管理符合率'],
                top: 'bottom',
            },
            toolbox: {
                feature: {
                    magicType: {show: true, type: ['bar']},
                    restore: {show: true},
                    saveAsImage: {show: true},
                },
                padding: [0, 100]
            },
            grid: {
                left: '8%',
                right: '8%',
                bottom: '8%',
                containLabel: true,
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                name: '月份',
                type: 'category',
                boundaryGap: false,
                data: [{% for data in monthly_result %}'{{ data.month }}月',{% endfor %}]
            },
            yAxis: {
                name: '比例',
                type: 'value',
            },
            series: [{
                name: '交付率',
                data: [{% for data in monthly_result %}{{ data.delivery_rate }}, {% endfor %}],
                type: 'line',
            }, {
                name: '成品率',
                data: [{% for data in monthly_result %}{{ data.well_done_rate }}, {% endfor %}],
                type: 'line',
            }, {
                name: '现场管理符合率',
                data: [{% for data in monthly_result %}{{ data.field_management_well_rate }}, {% endfor %}],
                type: 'line',
            },]
        };
        chartObj.setOption(option);
    </script>
    <script type="text/javascript">
        var myChart = $("#chart_amount")[0];
        myChart.style.width = $("#table_display").width() + 'px';
        chartObj = echarts.init(myChart);
        option = {
            legend: {
                data: ['医药费', '当月挖掘成本',],
                top: 'bottom',
            },
            toolbox: {
                feature: {
                    magicType: {show: true, type: ['bar']},
                    restore: {show: true},
                    saveAsImage: {show: true},
                },
                padding: [0, 100]
            },
            grid: {
                left: '8%',
                right: '8%',
                bottom: '8%',
                containLabel: true,
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                name: '月份',
                type: 'category',
                boundaryGap: false,
                data: [{% for data in monthly_result %}'{{ data.month }}月',{% endfor %}]
            },
            yAxis: {
                name: '万元',
                type: 'value',
            },
            series: [{
                name: '医药费',
                data: [{% for data in monthly_result %}{{ data.medical_expenses }}, {% endfor %}],
                type: 'line'
            }, {
                name: '当月挖掘成本',
                data: [{% for data in monthly_result %}{{ data.month_dig_cost }}, {% endfor %}],
                type: 'line'
            },]
        };
        chartObj.setOption(option);
    </script>
    <script type="text/javascript">
        $('#show_charts').click(function () {
            $('#chart_rate').removeClass('hidden');
            $('#chart_amount').removeClass('hidden');
            $('#table_display').addClass('hidden');
        })
        $('#show_table').click(function () {
            $('#table_display').removeClass('hidden');
            $('#chart_rate').addClass('hidden');
            $('#chart_amount').addClass('hidden');
        })
    </script>

    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% elif message.tags == 'info' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'info', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
