{% extends 'base.html' %}
{% load queryset_data %}
{% load static %}
{% block title %}数据统计查看-内控指标汇总{% endblock %}

{% block modal_content %}
    <!--导出excel-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'export_internal_control_indicators' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delsModalLabel">导出excel</h4>
                    </div>
                    <div class="modal-body">
                        如遇编码问题，请使用微软office。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">下载</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block show_data_active %}active open{% endblock %}
{% block display_internal_control_indicators_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>内控指标汇总</b></h4>
                    </div>
                    <div class="card-toolbar clearfix">
                        <form class="pull-right search-bar" method="post" action="{% url 'display_internal_control_indicators' %}" role="form">
                        {% csrf_token %}
                            <div class="input-group-btn">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            {{ current_status }} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="{% ifequal current_status '所有状态' %}active{% endifequal %}">
                                                <a href="{% url 'display_internal_control_indicators' %}?current_status=所有状态">所有状态</a>
                                            </li>
                                            <li class="{% ifequal current_status '按时完成' %}active{% endifequal %}">
                                                <a href="{% url 'display_internal_control_indicators' %}?current_status=按时完成">按时完成</a>
                                            </li>
                                            <li class="{% ifequal current_status '尚未完成' %}active{% endifequal %}">
                                                <a href="{% url 'display_internal_control_indicators' %}?current_status=尚未完成">尚未完成</a>
                                            </li>
                                            <li class="{% ifequal current_status '逾期完成' %}active{% endifequal %}">
                                                <a href="{% url 'display_internal_control_indicators' %}?current_status=逾期完成">逾期完成</a>
                                            </li>
                                            <li class="{% ifequal current_status '快到交期' %}active{% endifequal %}">
                                                <a href="{% url 'display_internal_control_indicators' %}?current_status=快到交期">快到交期</a>
                                            </li>
                                            <li class="{% ifequal current_status '已经逾期' %}active{% endifequal %}">
                                                <a href="{% url 'display_internal_control_indicators' %}?current_status=已经逾期">已经逾期</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <input hidden name="action" value="订单号搜索">
                                    <input type="text" class="form-control" name="order_number" aria-label="..." placeholder="请输入订单号...">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default">搜索</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#export"><i class="mdi mdi-file-excel"></i> 导出为Excel
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--手风琴效果-->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                           aria-controls="collapseThree">
                                            订单日期筛选
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <form method="post" action="{% url 'display_internal_control_indicators' %}" role="form">
                                            {% csrf_token %}
                                            <input hidden name="action" value="订单时间筛选">
                                            <div class="input-daterange input-group">
                                                <input class="form-control js-datepicker" data-date-format="yyyy-mm-dd"
                                                       type="text" id="example-daterange1" name="start_date"
                                                       placeholder="订单时间起点">
                                                <span class="input-group-addon"><i
                                                        class="mdi mdi-chevron-right"></i></span>
                                                <input class="form-control js-datepicker" data-date-format="yyyy-mm-dd"
                                                       type="text" id="example-daterange2" name="end_date"
                                                       placeholder="订单时间终点">
                                                <span class="input-group-btn" id="basic-addon3">
                                                <button class="btn btn-default" type="submit">筛选订单</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--手风琴效果 End-->
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th nowrap="nowrap" class="text-center">状态</th>
                                    <th nowrap="nowrap" class="text-center">时间进度</th>
                                    <th nowrap="nowrap" class="text-center">订单时间</th>
                                    <th nowrap="nowrap" class="text-center">订单号</th>
                                    <th nowrap="nowrap" class="text-center">订单额</th>
                                    <th nowrap="nowrap" class="text-center">计划交期</th>
                                    <th nowrap="nowrap" class="text-center">目标成品率</th>
                                    <th nowrap="nowrap" class="text-center">目标医药费(万元)</th>
                                    <th nowrap="nowrap" class="text-center">目标综合成本(万元)</th>
                                    <th nowrap="nowrap" class="text-center">目标管理符合数</th>
                                    <th nowrap="nowrap" class="text-center">实际交期</th>
                                    <th nowrap="nowrap" class="text-center">完成数</th>
                                    <th nowrap="nowrap" class="text-center">未完成数</th>
                                    <th nowrap="nowrap" class="text-center">实际成品率</th>
                                    <th nowrap="nowrap" class="text-center">实际医药费</th>
                                    <th nowrap="nowrap" class="text-center">实际成本</th>
                                    <th nowrap="nowrap" class="text-center">实际管理符合数</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in internal_control_indicators %}
                                    <tr>
                                        {% if data.finished_number != None %}
                                            {% if data.finished_number == 1 %}
                                                <td nowrap="nowrap">
                                                    <span class="label label-info">按时完成</span>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <div class="progress progress-striped progress-sm">
                                                        <div class="progress-bar progress-bar-info"
                                                             style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td nowrap="nowrap">
                                                    <span class="label label-yellow">逾期完成</span>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <div class="progress progress-striped progress-sm">
                                                        <div class="progress-bar progress-bar-yellow"
                                                             style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% else %}
                                            {% if data.order_date|progress:data.scheduled_delivery != -1 %}
                                                {% if data.order_date|progress:data.scheduled_delivery <= 70 %}
                                                    <td nowrap="nowrap">
                                                        <span class="label label-primary">尚未完成</span>
                                                    </td>
                                                    <td nowrap="nowrap">
                                                        <div class="progress progress-striped progress-sm">
                                                            <div class="progress-bar progress-bar-primary"
                                                                 style="width: {{ data.order_date|progress:data.scheduled_delivery }}%;"></div>
                                                        </div>
                                                    </td>
                                                {% else %}
                                                    <td nowrap="nowrap">
                                                        <span class="label label-pink">快到交期</span>
                                                    </td>
                                                    <td nowrap="nowrap">
                                                        <div class="progress progress-striped progress-sm">
                                                            <div class="progress-bar progress-bar-pink"
                                                                 style="width: {{ data.order_date|progress:data.scheduled_delivery }}%;"></div>
                                                        </div>
                                                    </td>
                                                {% endif %}
                                            {% else %}
                                                <td nowrap="nowrap">
                                                    <span class="label label-danger">已经逾期</span>
                                                </td>
                                                <td nowrap="nowrap">
                                                    <div class="progress progress-striped progress-sm">
                                                        <div class="progress-bar progress-bar-danger"
                                                             style="width: 100%;"></div>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                        <td nowrap="nowrap">{{ data.order_date|date:"Y年m月d日" }}</td>
                                        <td nowrap="nowrap">{{ data.order_number }}</td>
                                        <td nowrap="nowrap" class="text-right">{{ data.order_money }}</td>
                                        <td nowrap="nowrap">{{ data.scheduled_delivery|date:"Y年m月d日" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_well_done_rate|percentage }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_medical_expenses|floatformat:"2" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_comprehensive_cost|floatformat:"2" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.target_management_compliance }}</td>
                                        <td nowrap="nowrap">{{ data.actual_delivery|date:"Y年m月d日" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.finished_number|clear_none }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.unfinished_number|clear_none }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.actual_well_done_rate|clear_none|percentage }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.actual_medical_expenses|clear_none|floatformat:"2" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.actual_cost|clear_none|floatformat:"2" }}</td>
                                        <td nowrap="nowrap"
                                            class="text-right">{{ data.actual_management_compliance|clear_none }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {{ page_info.pager|safe }}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!--日期选择插件-->
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/bootstrap-datepicker/bootstrap-datepicker3.min.css' %}" type="text/css">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}