{% extends 'base.html' %}
{% load static %}

{% block css_content %}
    <link href="{% static 'css/echarts.css' %}" rel="stylesheet">
{% endblock %}

{% block modal_content %}
    <!--导出excel-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'export_monthly_performance' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delsModalLabel">导出excel</h4>
                    </div>
                    <div class="modal-body">
                        如遇编码问题，请使用微软office。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">下载</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block show_data_active %}active open{% endblock %}
{% block show_quarterly_result_active %}active{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>成功!</strong> {{ message }}。
                    </div>
                {% elif message.tags == 'error' %}
                    <div>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>错误!</strong> {{ message }}。
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>季度绩效考核结果（业务）</b></h4>
                        <a href="{% url 'refresh_quarterly_result' %}">刷新数据</a>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="false" aria-expanded="true">
                                {{ current_year }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for year in year_list %}
                                    <li class="{% ifequal current_year year.year %}active{% endifequal %}"><a
                                            href="{% url 'show_quarterly_result' %}?select_year={{ year.year }}">{{ year.year }}</a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-success pull-right" data-toggle="modal"
                                    data-target="#export"></i><i class="mdi mdi-file-excel"></i> 导出为Excel
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>季度</th>
                                    <th>营业额(万元)</th>
                                    <th>营业费率</th>
                                    <th>回款率</th>
                                    <th>库存率</th>
                                    <th>利润率</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for data in quarterly_result %}
                                    <tr>
                                        <td>{{ data.quarter }}</td>
                                        <td>{{ data.turnover }}</td>
                                        <td>{{ data.operating_rate }}</td>
                                        <td>{{ data.repaid_rate }}</td>
                                        <td>{{ data.inventory_rate }}</td>
                                        <td>{{ data.profit_rate }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if year_list %}
                            <div id="chart_bar" class="chart_bar"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('chart_bar'));
        option = {
            title: {
                text: '{{ current_year }}年度各季度绩效考核结果',
                textStyle: {
                    fontSize: 22,
                },
                left: 'center',
            },
            legend: {
                top: 'bottom',
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow',
                },
            },
            toolbox: {
                feature: {
                    saveAsImage: {show: true},
                },
                padding: [0, 120]
            },
            dataset: {
                source: [
                    ['季度', '第一季度', '第二季度', '第三季度', '第四季度'],
                    ['营业额', {% for data in quarterly_result %}{{ data.turnover }}, {% endfor %},],
                    ['营业费率', {% for data in quarterly_result %}{{ data.operating_rate }}, {% endfor %},],
                    ['回款率', {% for data in quarterly_result %}{{ data.repaid_rate }}, {% endfor %},],
                    ['库存率', {% for data in quarterly_result %}{{ data.inventory_rate }}, {% endfor %},],
                    ['利润率', {% for data in quarterly_result %}{{ data.profit_rate }}, {% endfor %},],
                ]
            },
            xAxis: [
                {type: 'category', gridIndex: 1},
                {type: 'category', gridIndex: 0},
            ],
            yAxis: [
                {gridIndex: 1},
                {gridIndex: 0},
            ],
            grid: [
                {bottom: '55%'},
                {top: '55%'}
            ],
            series: [
                {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
                {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
                {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
                {type: 'bar', xAxisIndex: 1, yAxisIndex: 1},
                {type: 'bar', seriesLayoutBy: 'row'},
                {type: 'bar', seriesLayoutBy: 'row'},
                {type: 'bar', seriesLayoutBy: 'row'},
                {type: 'bar', seriesLayoutBy: 'row'},
                {type: 'bar', seriesLayoutBy: 'row'},
            ]
        };
        myChart.setOption(option);
    </script>
{% endblock %}