{% extends 'base.html' %}
{% load static %}
{% block title %}系统操控日志{% endblock %}
{% block system_security_backup_active %}active open{% endblock %}
{% block show_user_logs_actice %}active{% endblock %}

{% block css_content %}
    <link href="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}">
    <link href="{% static 'css/style.min.css' %}">
    <link href="{% static 'css/echarts.css' %}" rel="stylesheet">
{% endblock %}

{% block modal_content %}
    <!--导出excel-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'export_user_logs' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delsModalLabel">导出系统操控日志</h4>
                    </div>
                    <div class="modal-body">
                        导出系统操控日志
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">下载</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--展示可视化图表-->
    <div class="modal fade" id="charts" tabindex="-1" role="dialog" aria-labelledby="chartsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delsModalLabel">展示可视化图表</h4>
                </div>
                <div class="modal-body">
                    <div id="pie_chart" class="chart_pie"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>用户操作日志</b></h4>
                    </div>
                    <div class="card-toolbar clearfix">
                        <form class="pull-right search-bar" method="post"
                              action="{% url 'show_user_logs' %}" role="form">
                            {% csrf_token %}
                            <div class="input-group-btn">
                                <div class="input-group">
                                    <input hidden name="current_action" value="姓名或工号搜索">
                                    <input type="text" class="form-control" name="user_name_number" aria-label="..."
                                           placeholder="姓名或工号搜索...">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default">搜索</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-dark" data-toggle="modal"
                                    data-target="#export"><i class="mdi mdi-file-excel"></i>
                                导出用户操作日志
                            </button>
                        </div>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-dark" data-toggle="modal"
                                    data-target="#charts"><i class="mdi mdi-file-excel"></i>
                                查看统计图表
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--手风琴效果-->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                           aria-controls="collapseThree">
                                            操作时间筛选
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <form method="post" action="{% url 'show_user_logs' %}" role="form">
                                            {% csrf_token %}
                                            <input hidden name="current_action" value="操作时间筛选">
                                            <div class="input-daterange input-group">
                                                <input class="form-control js-datetimepicker" type="text"
                                                       name="start_time"
                                                       placeholder="请选择开始时间" data-side-by-side="true"
                                                       data-locale="zh-cn"
                                                       data-format="YYYY-MM-DD-HH-mm" required>
                                                <span class="input-group-addon"><i
                                                        class="mdi mdi-chevron-right"></i></span>
                                                <input class="form-control js-datetimepicker" type="text"
                                                       name="end_time"
                                                       placeholder="请选择结束时间" data-side-by-side="true"
                                                       data-locale="zh-cn"
                                                       data-format="YYYY-MM-DD-HH-mm" required>
                                                <span class="input-group-btn" id="basic-addon3">
                                                <button class="btn btn-default" type="submit">筛选日志</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--手风琴效果 End-->
                        <div id="table_display" class="table-responsive text-right">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th nowrap="nowrap" class="text-center">时间</th>
                                    <th nowrap="nowrap" class="text-center">操作账号</th>
                                    <th nowrap="nowrap" class="text-center">账号工号</th>
                                    <th nowrap="nowrap" class="text-center">操作内容</th>
                                    <th nowrap="nowrap" class="text-center">操作结果</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for log in logs %}
                                    <tr>
                                        <th nowrap="nowrap" class="text-center">{{ log.log_time }}</th>
                                        <td nowrap="nowrap" class="text-center">{{ log.user_name }}</td>
                                        <td nowrap="nowrap" class="text-center">{{ log.job_number }}</td>
                                        <td nowrap="nowrap" class="text-center">{{ log.action }}</td>
                                        <td nowrap="nowrap" class="text-center">{{ log.result }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!--时间选择插件-->
    <script src="{% static 'js/bootstrap-datetimepicker/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker/locale/zh-cn.js' %}"></script>
    <!--时间选择插件-->
    <link rel="stylesheet" href="{% static 'js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}">
    <!--echarts-->
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <!-- 饼图可视化图表 -->
    <script type="text/javascript">
        var chartObj = echarts.init(document.getElementById('pie_chart'));
        option = {
            title: {
                text: '系统出错率',
                left: 'center',
                textStyle: {
                    fontSize: 22,
                },
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 10,
                data: ['成功', '失败']
            },
            series: [
                {
                    name: '系统出错率',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: [
                        {value: {{ success_log_num }}, name: '成功'},
                        {value: {{ fail_log_num }}, name: '失败'},
                    ]
                }
            ]
        };
        chartObj.setOption(option);
    </script>
{% endblock %}