{% extends 'base.html' %}
{% load static %}
{% block title %}系统操控日志{% endblock %}
{% block system_security_backup_active %}active open{% endblock %}
{% block show_database_backup_actice %}active{% endblock %}

{% block css_content %}
{% endblock %}

{% block modal_content %}
    <!--设定定时备份-->
    <div class="modal fade" id="settimer" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="logoin">设定系统定时备份</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_target_well_done_rate" class="control-label">设定备份周期：</label>
                            <select class="form-control" id="time"
                                    name="settime" required>
                                <option value="7">7天</option>
                                <option value="15">15天</option>
                                <option value="30">30天</option>
                                <option value="60">60天</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_order_number" class="control-label">发送邮箱：</label>
                            <input type="text" class="form-control" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">确认</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--导入本地备份-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">导入本地备份数据</h4>
                    </div>
                    <div class="modal-body">
                        支持jason文件
                        <div class="form-group">
                            <input class="form-control" type="file" name="upload_file">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">导入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 备份当前数据库 -->
    <div class="modal fade" id="copy" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'backup_database' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delsModalLabel">备份数据</h4>
                    </div>
                    <div class="modal-body">
                        备份当前数据库
                        <div class="form-group">
                            <label for="id_remark" class="control-label">操作人备注：</label>
                            <input type="text" class="form-control" id="id_remark" name="remark" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">备份</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 恢复数据库 -->
    <div class="modal fade" id="recover" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'load_database' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">恢复数据库</h4>
                    </div>
                    <div class="modal-body">
                        确认将数据库恢复为该备份文件?
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_load_file" name="file_name">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 删除备份文件 -->
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'delete_backup' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delsModalLabel">删除选中备份数据库Json文件</h4>
                    </div>
                    <div class="modal-body">
                        确认删除该备份数据库?
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_delete_file" name="file_name">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 下载备份文件 -->
    <div class="modal fade" id="download" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delsModalLabel">下载选中备份数据库Json文件</h4>
                    </div>
                    <div class="modal-body">
                        确认下载该备份数据库(json文件)?
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_delete_file" name="file_name">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>数据备份还原</b></h4>
                    </div>
                    <div class="card-toolbar clearfix">
                        <form class="pull-right search-bar" method="post"
                              action="{% url 'display_internal_control_indicators' %}" role="form">
                            {% csrf_token %}
                            <div class="input-group-btn">
                                <div class="input-group">
                                    <input hidden name="action" value="备份文件搜索">
                                    <input type="text" class="form-control" name="order_number" aria-label="..."
                                           placeholder="备份文件搜索...">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default">搜索</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="toolbar-btn-action">
                            <button type="button" class="btn btn-dark" data-toggle="modal"
                                    data-target="#copy"><i class="mdi mdi-vector-combine"></i>
                                备份数据
                            </button>
                            <button type="button" class="btn btn-dark" data-toggle="modal"
                                    data-target="#export"><i class="mdi mdi-arrange-send-backward "></i>
                                上传本地备份
                            </button>
                            <button type="button" class="btn btn-dark" data-toggle="modal"
                                    data-target="#settimer"><i class="mdi mdi-timer "></i>
                                设置定期备份
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <div id="table_display" class="table-responsive text-right">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th nowrap="nowrap" class="text-center">备份文件名</th>
                                    <th nowrap="nowrap" class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for backup in backups %}
                                        <tr>
                                        <td nowrap="nowrap" class="text-center">{{ backup }}</td>
                                        <td nowrap="nowrap" class="text-center">
                                            <div class="btn-group">
                                                <a class="btn btn-xs btn-default" href="#!" title="还原文件"
                                                   data-toggle="modal"
                                                   data-target="#recover" onclick="give_load_modal('{{ backup }}')"><i
                                                        class="mdi mdi-redo"></i></a>
                                                <a class="btn btn-xs btn-default" href="#!" title="下载"
                                                   data-toggle="modal"
                                                   data-target="#download" onclick=""><i class="mdi mdi-arrow-down"></i></a>
                                                <a class="btn btn-xs btn-default" href="#!" title="删除"
                                                   data-toggle="modal"
                                                   data-target="#del" onclick="give_delete_modal('{{ backup }}')"><i
                                                        class="mdi mdi-window-close"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!--日期选择插件-->
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/bootstrap-datepicker/bootstrap-datepicker3.min.css' %}" type="text/css">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css">
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- 给确认恢复数据库模态框传值 -->
    <script type="text/javascript">
        function give_load_modal(file_name) {
            $('#id_load_file').val(file_name);
        }
    </script>
    <!-- 给确认删除备份文件模态框传值 -->
    <script type="text/javascript">
        function give_delete_modal(file_name) {
            $('#id_delete_file').val(file_name);
        }
    </script>
{% endblock %}