{% extends 'base.html' %}
{% block title %}账号权限管理-账号信息管理{% endblock %}

{% block user_permission_management_active %}active open{% endblock %}
{% block user_management_active %}active{% endblock %}

{% block modal_content %}
    <!--导入表格-->
    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'upload_user' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">导入账号表格</h4>
                    </div>
                    <div class="modal-body">
                        支持excel和csv文件
                        <div class="form-group">
                            <input class="form-control" type="file" name="upload_file">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">导入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--删除按钮(选中)-->
    <div class="modal fade" id="dels" tabindex="-1" role="dialog" aria-labelledby="delsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delsModalLabel">删除账号</h4>
                </div>
                <div class="modal-body">
                    确认删除选中账号?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" onclick="dels()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--删除按钮(单条)-->
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'delete_user' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="delModalLabel">删除账号</h4>
                    </div>
                    <div class="modal-body">
                        确认删除该账号?
                    </div>
                    <div class="modal-footer">
                        <input hidden id="id_delete_id" name="delete_id">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-danger">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--修改按钮-->
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'change_user' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addLabel">修改账号信息</h4>
                    </div>

                    <div class="modal-body">
                        <input hidden id="id_change_id" name="change_id">
                        <div class="form-group">
                            <label for="id_job_number" class="control-label">工号：</label>
                            <input type="text" class="form-control" id="id_change_job_number" name="job_number"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="id_name" class="control-label">姓名：</label>
                            <input type="text" class="form-control" id="id_change_name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="turnover_n" class="control-label">所在部门：</label>
                            <input type="text" class="form-control" id="id_change_department" name="department"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="expenses_n" class="control-label">手机：</label>
                            <input type="text" class="form-control" id="id_change_telephone" name="telephone" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--修改密码按钮-->
    <div class="modal fade" id="password" tabindex="-1" role="dialog" aria-labelledby="passwordLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'admin_change_password' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addLabel">修改账号密码</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="password_m" class="control-label">新密码：</label>
                            <input type="text" class="form-control" id="password_m" name="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input hidden id="passwd_id" name="passwd_id">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--新增按钮-->
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'add_user' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addLabel">新增账号信息</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="job_number_n" class="control-label">工号：</label>
                            <input type="text" class="form-control" id="job_number_n" name="job_number" required>
                        </div>
                        <div class="form-group">
                            <label for="name_n" class="control-label">姓名：</label>
                            <input type="text" class="form-control" id="name_n" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="department_n" class="control-label">所在部门：</label>
                            <input type="text" class="form-control" id="department_n" name="department" required>
                        </div>
                        <div class="form-group">
                            <label for="telephone_n" class="control-label">电话：</label>
                            <input type="text" class="form-control" id="telephone_n" name="telephone" required>
                        </div>
                        <div class="form-group">
                            <label for="password_n" class="control-label">登录密码：</label>
                            <input type="text" class="form-control" id="password_n" name="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>账号信息管理</b></h4>
                    </div>
                    <div class="card-toolbar clearfix">
                        <from class="pull-right search-bar" method="post" action="#!" role="form">
                            <div class="input-group-btn">
                                <div class="input-group">
                                    <form class="pull-right search-bar" method="post"
                                          action="{% url 'user_management' %}"
                                          role="form">
                                        {% csrf_token %}
                                        <div class="input-group m-b-10">
                                            <input type="text" class="form-control" placeholder="请输入部门关键词..."
                                                   name="department"
                                                   value="{{ department }}">
                                            <span class="input-group-btn" id="basic-addon3">
                                <button class="btn btn-default" type="submit">筛选部门</button>
                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </from>
                        <div class="toolbar-btn-action">
                           <button type="button" class="btn btn-success m-r-5" data-toggle="modal"
                                    data-target="#add" data-whatever="@mdo"><i class="mdi mdi-plus"></i> 新增
                            </button>
                            <button type="button" class="btn btn-success m-r-5" data-toggle="modal"
                                    data-target="#export"><i class="mdi mdi-file-excel"></i> 导入表格
                            </button>
                            <button type="button" class="btn btn-danger m-r-5"
                                    data-toggle="modal" data-target="#dels"><i class="mdi mdi-window-close"></i> 删除
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <label class="lyear-checkbox checkbox-primary">
                                            <input type="checkbox" id="check-all"><span></span>
                                        </label>
                                    </th>
                                    <th nowrap="nowrap" class="text-center">部门</th>
                                    <th nowrap="nowrap" class="text-center">工号</th>
                                    <th nowrap="nowrap" class="text-center">姓名</th>
                                    <th nowrap="nowrap" class="text-center">手机</th>
                                    <th nowrap="nowrap" class="text-center">角色</th>
                                    <th nowrap="nowrap" class="text-center">上次登录时间</th>
                                    <th nowrap="nowrap" class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>
                                            <label class="lyear-checkbox checkbox-primary">
                                                <input type="checkbox" name="ids[]" value="{{ user.id }}"><span></span>
                                            </label>
                                        </td>
                                        <th nowrap="nowrap" class="text-center">{{ user.extension.department }}</th>
                                        <th nowrap="nowrap" class="text-center">{{ user.extension.job_number }}</th>
                                        <td nowrap="nowrap" class="text-center">{{ user.last_name }}</td>
                                        <th nowrap="nowrap" class="text-center">{{ user.extension.telephone }}</th>
                                        {% if user.is_superuser %}
                                            <th nowrap="nowrap" class="text-center">超级管理员</th>
                                        {% elif user.groups.all %}
                                            <th nowrap="nowrap" class="text-center">
                                                {% for group in user.groups.all %}
                                                    {{ group }}
                                                    <br>
                                                {% endfor %}
                                            </th>
                                        {% else %}
                                            <th nowrap="nowrap" class="text-center"><p style="color: blue">未分配</p></th>
                                        {% endif %}
                                        <th class="text-center">{{ user.last_login }}</th>
                                        <td>
                                            <div class="btn-group-justified">
                                                <a class="btn btn-xs btn-default" href="#!" title="编辑"
                                                   data-toggle="modal" data-target="#modify"
                                                   onclick="give_change_modal('{{ user.id }}', '{{ user.extension.job_number }}', '{{ user.last_name }}', '{{ user.extension.department }}', '{{ user.extension.telephone }}')"><i
                                                        class="mdi mdi-pencil"></i></a>
                                                <a class="btn btn-xs btn-default" href="#!" title="修改密码"
                                                   data-toggle="modal" data-target="#password"
                                                   onclick="give_passwd_id_modal('{{ user.id }}')"><i
                                                        class="mdi mdi-dns"></i></a>
                                                <a class="btn btn-xs btn-default" href="#!" title="删除"
                                                   data-toggle="modal" data-target="#del"
                                                   onclick="give_delete_modal('{{ user.id }}')"><i
                                                        class="mdi mdi-window-close"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_content %}
    <!-- 给确认删除模态框传值 -->
    <script type="text/javascript">
        function give_delete_modal(delete_id) {
            $('#id_delete_id').val(delete_id);
        }
    </script>
    <!-- 给修改密码模态框传值 -->
    <script type="text/javascript">
        function give_passwd_id_modal(passwd_id) {
            $('#passwd_id').val(passwd_id);
        }
    </script>
    <!-- 提交选中删除 -->
    <script type="text/javascript">
        function dels() {
            var a = document.getElementsByName("ids[]");
            var case_id = [];
            for (var i = 0; i < a.length; i++) {
                if (a[i].checked) {
                    case_id.push(a[i].value)
                }
            }
            console.log(case_id);
            $.ajax({
                type: "get",
                url: "{% url 'delete_user' %}",
                traditional: true,
                data: {'delete_id': case_id},
                success: function (arg) {
                    if (arg === 'success') {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <!-- 给修改数据模态框传值 -->
    <script type="text/javascript">
        function give_change_modal(change_id,
                                   change_job_number,
                                   change_name,
                                   change_department,
                                   change_telephone,) {
            $('#id_change_id').val(change_id);
            $('#id_change_job_number').val(change_job_number);
            $('#id_change_name').val(change_name);
            $('#id_change_department').val(change_department);
            $('#id_change_telephone').val(change_telephone);
        }
    </script>
    <!-- 消息提示框 -->
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'success', 3000);
                </script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">
                    lightyear.notify('{{ message }}', 'danger', 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
