{% extends 'base.html' %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4><b>账号列表</b></h4>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">部门 <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#!">人事部</a></li>
                                    <li><a href="#!">营销部</a></li>
                                </ul>

                            </div>
                    <input type="text" class="form-control" placeholder="请输入账号名...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">搜索</button>
                    </span>
                    <div class="toolbar-btn-action">
                        <button type="button" class="btn btn-danger m-r-5 pull-right" data-toggle="modal" data-target="#dels"><i class="mdi mdi-window-close"></i> 删除</button>
                        <button type="button" class="btn btn-success m-r-5 pull-right" data-toggle="modal" data-target="#add" data-whatever="@mdo"><i class="mdi mdi-plus"></i> 新增</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <label class="lyear-checkbox checkbox-primary">
                                        <input type="checkbox" id="check-all"><span></span>
                                    </label>
                                </th>
                                <th>ID</th>
                                <th>部门</th>
                                <th>工号</th>
                                <th>账号名</th>
                                <th>邮箱</th>
                                <th>角色</th>
                                <th>上次登录时间</th>
                                <th>是否已启用</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="lyear-checkbox checkbox-primary">
                                        <input type="checkbox" name="ids[]" value="2"><span></span>
                                    </label>
                                </td>
                                <th>1</th>
                                <th>人事部</th>
                                <th>10202020</th>
                                <td>CQY</td>
                                <th>123@qq.com</th>
                                <th>超级管理员</th>
                                <th>2020/2/12 00:00</th>
                                <th>已启用</th>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="modal" data-target="#modify"><i class="mdi mdi-pencil"></i></a>
                                        <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="modal" data-target="#del"><i class="mdi mdi-window-close"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="lyear-checkbox checkbox-primary">
                                        <input type="checkbox" name="ids[]" value="2"><span></span>
                                    </label>
                                </td>
                                <th>2</th>
                                <th>人事部</th>
                                <th>10202021</th>
                                <td>AAA</td>
                                <th>123@qq.com</th>
                                <th>超级管理员</th>
                                <th>2020/2/12 00:00</th>
                                <th>已启用</th>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="modal" data-target="#modify"><i class="mdi mdi-pencil"></i></a>
                                        <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="modal" data-target="#del"><i class="mdi mdi-window-close"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="lyear-checkbox checkbox-primary">
                                        <input type="checkbox" name="ids[]" value="2"><span></span>
                                    </label>
                                </td>
                                <th>3</th>
                                <th>人事部</th>
                                <th>10202022</th>
                                <td>BBB</td>
                                <th>123@qq.com</th>
                                <th>超级管理员</th>
                                <th>2020/2/12 00:00</th>
                                <th>已启用</th>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="modal" data-target="#modify"><i class="mdi mdi-pencil"></i></a>
                                        <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="modal" data-target="#del"><i class="mdi mdi-window-close"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="lyear-checkbox checkbox-primary">
                                        <input type="checkbox" name="ids[]" value="2"><span></span>
                                    </label>
                                </td>
                                <th>4</th>
                                <th>人事部</th>
                                <th>10202023</th>
                                <td>CCC</td>
                                <th>123@qq.com</th>
                                <th>超级管理员</th>
                                <th>2020/2/12 00:00</th>
                                <th>已启用</th>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="modal" data-target="#modify"><i class="mdi mdi-pencil"></i></a>
                                        <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="modal" data-target="#del"><i class="mdi mdi-window-close"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

