{% extends 'base.html' %}
{% load queryset_data %}
{% block title %}利润绩效管理系统-首页{% endblock %}

{% block index_active %}active open{% endblock %}

{% block main_content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-1 col-lg-12">
                <div class="card">
                    <div class="card-body clearfix">
                        <a style="position: absolute;left: 45%;transform: translate(-30%, -50%);">
                            <i class="mdi mdi-creation"></i> 欢迎使用利润绩效管理系统！
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-secondary">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h6 text m-t-0 text-right"><b>本月订单数</b></p>
                            <p class="h3 text m-b-0 text-right">{{ month_order_count }}</p>
                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-content-paste mdi-dark fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-secondary">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h6 text m-t-0 text-right"><b>您的工号</b></p>
                            <p class="h3 text m-b-0 text-right">{{ request.user.extension.job_number }}</p>
                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-square-inc mdi-dark fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-secondary">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h6 text m-t-0 text-right"><b>您的部门</b></p>
                            <p class="h3 text m-b-0 text-right">{{ request.user.extension.department }}</p>
                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi  mdi-crown mdi-dark fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-secondary">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h6 text m-t-0 text-right"><b>您的角色</b></p>
                            {% for group in user_group %}
                                <p class="h3 text m-b-0 text-right">{{ group }}</p>
                            {% endfor %}

                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-account mdi-dark fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>系统公告</b></h4>
                    </div>
                    <div class="card-body">
                        <!--手风琴效果-->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            {% for announcement in announcements %}
                            {% if forloop.counter == 1 %}
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                {{ announcement.time }}-{{ announcement.title }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <blockquote class="blockquote">
                                                <p>{{ announcement.content }}</p>
                                                <footer>{{ announcement.who }}</footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="panel">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                               aria-controls="collapseTwo">
                                                {{ announcement.time }}-{{ announcement.title }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                         aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <blockquote class="blockquote">
                                                <p>{{ announcement.content }}</p>
                                                <footer>{{ announcement.who }}</footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <!--手风琴效果 End-->

                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4><b>本月待完成订单</b></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">订单号</th>
                                    <th class="text-center">订单时间</th>
                                    <th class="text-center">计划交期</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center">时间进度</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in month_to_finish_order %}
                                    <tr>
                                        <th class="text-center">{{ forloop.counter }}</th>
                                        <td>{{ order.order_number }}</td>
                                        <td>{{ order.order_date|date:"Y-m-d" }}</td>
                                        <td>{{ order.scheduled_delivery|date:"Y-m-d" }}</td>
                                        {% if order|order_status == '尚未完成' %}
                                            <td><span class="label label-primary">尚未完成</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-primary"
                                                         style="width: {{ order.order_date|progress:order.scheduled_delivery }}%;"></div>
                                                </div>
                                            </td>
                                        {% elif order|order_status == '快到交期' %}
                                            <td><span class="label label-pink">快到交期</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-pink"
                                                         style="width: {{ order.order_date|progress:order.scheduled_delivery }}%;"></div>
                                                </div>
                                            </td>
                                        {% elif order|order_status == '已经逾期' %}
                                            <td><span class="label label-danger">已经逾期</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-danger"
                                                         style="width: 100%;"></div>
                                                </div>
                                            </td>
                                        {% elif order|order_status == '还未开始' %}
                                            <td><span class="label label-secondary">还未开始</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-secondary"
                                                         style="width: 0%;"></div>
                                                </div>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}