{% extends 'base.html' %}
{% load queryset_data %}
{% block title %}利润绩效管理系统-首页{% endblock %}

{% block index_active %}active open{% endblock %}

{% block main_content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-1 col-lg-12">
                <div class="card">
                    <div class="card-body clearfix">
                        <a style="position: absolute;left: 45%;transform: translate(-30%, -50%);">
                <i class="mdi mdi-creation"></i>  欢迎使用利润绩效管理系统！
            </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-primary">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h6 text-white m-t-0">本月订单数</p>
                            <p class="h3 text-white m-b-0">{{ month_order_count }}</p>
                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-content-paste fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-pink">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h6 text-white m-t-0">您的工号</p>
                            <p class="h3 text-white m-b-0">{{ request.user.extension.job_number }}</p>
                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-square-inc fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-cyan">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h6 text-white m-t-0">您的部门</p>
                            <p class="h3 text-white m-b-0">{{ request.user.extension.department }}</p>
                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi  mdi-crown fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-dark">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h6 text-white m-t-0">您的角色</p>
                            {% for group in user_group %}
                                <p class="h3 text-white m-b-0">{{ group }}</p>
                            {% endfor %}

                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-account fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>本月待完成订单</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>订单号</th>
                                    <th>订单时间</th>
                                    <th>计划交期</th>
                                    <th>状态</th>
                                    <th>时间进度</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in month_to_finish_order %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ order.order_number }}</td>
                                        <td>{{ order.order_date|date:"Y-m-d" }}</td>
                                        <td>{{ order.scheduled_delivery|date:"Y-m-d" }}</td>
                                        {% if order|order_status == '尚未完成' %}
                                            <td><span class="label label-primary">尚未完成</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-primary"
                                                         style="width: {{ order.order_date|progress:order.scheduled_delivery }}%;"></div>
                                                </div>
                                            </td>
                                        {% elif order|order_status == '快到交期' %}
                                            <td><span class="label label-pink">快到交期</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-pink"
                                                         style="width: {{ order.order_date|progress:order.scheduled_delivery }}%;"></div>
                                                </div>
                                            </td>
                                        {% elif order|order_status == '已经逾期' %}
                                            <td><span class="label label-danger">已经逾期</span></td>
                                            <td>
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-danger"
                                                         style="width: 100%;"></div>
                                                </div>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}